<template>
	<form enctype="multipart/form-data" @submit.prevent="submit" v-if="!state.form.sent">
		
		<div class="mt-4">
			<BreezeLabel for="full_name" value="Naam" class="text-base font-bold wb-text-dark-blue" :custom="true" />
			<BreezeInput id="full_name" type="text" class="block w-full mt-1 mb-2" v-model="form.full_name" autofocus />
			<span class="block p-1 text-red-400 rounded wb-bg-dark-blue" v-if="state.form.errors.full_name">{{ state.form.errors.full_name }}</span>
		</div>

		<div class="mt-4">
			<BreezeLabel for="email" value="Email" class="text-base font-bold wb-text-dark-blue" :custom="true" />
			<BreezeInput id="email" type="text" class="block w-full mt-1 mb-2" v-model="form.email" />
			<span class="block p-1 text-red-400 rounded wb-bg-dark-blue" v-if="state.form.errors.email">{{ state.form.errors.email }}</span>
		</div>

		<div class="mt-4">
			<BreezeLabel for="subject" value="Onderwerp" class="text-base font-bold wb-text-dark-blue" :custom="true" />
			<Select placeholder="Selecteer een onderwerp" :options="state.subjects" @checkValue="updateSelection($event)" :required="true" class="mb-2 rounded-md shadow-sm"/>
			<span class="block p-1 text-red-400 rounded wb-bg-dark-blue" v-if="state.form.errors.subject_id">{{ state.form.errors.subject_id }}</span>
		</div>
        
		<div class="mt-4">
			<BreezeLabel for="message" value="Bericht" class="text-base font-bold wb-text-dark-blue" :custom="true" />
			<BreezeInputText id="message" class="block w-full mt-1 mb-2" v-model="form.message" required />
			<span class="block p-1 text-red-400 rounded wb-bg-dark-blue" v-if="state.form.errors.message">{{ state.form.errors.message }}</span>
		</div>

        <button type="submit" class="float-right w-full mt-4 md:w-auto" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
            Verstuur bericht
        </button>
	</form>
    <section v-if="state.form.success" class="text-center wb-text-dark-blue">
        <h2 class="text-xl font-bold">Contactformulier succesvol verzonden</h2>
        <p>
			Beste {{ form.full_name }}, jouw bericht is succesvol verzonden. ✅<br />
			Je zal spoedig iets van mij terug horen!
		</p>
    </section>
    <section v-if="state.form.error" class="text-center wb-text-dark-blue">
        <h2 class="text-xl font-bold">Error bij het versturen van het contactformulier. ❌</h2>
        <p>probeer het opnieuw</p>
		<button @click="reloadForm">Opnieuw proberen</button>
    </section>
</template>

<script>
import BreezeInput from '@/Components/common/Input';
import BreezeInputText from '@/Components/common/InputText';
import Select from '@/Components/common/CustomSelect';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';

import { reactive, onBeforeMount } from 'vue'
import { Inertia } from '@inertiajs/inertia'
import { useForm } from '@inertiajs/inertia-vue3'
export default {

    components: {
        BreezeInput,
        BreezeInputText,
		Select,
        BreezeLabel,
        BreezeValidationErrors,
    },

    setup() {

        const form = useForm({
			full_name: '',
			email: '',
			subject_id: '',
			message: '',
		});

        const state = reactive({
            form: {
				sent: false,
				success: false,
				error: false,
				errors: {
					full_name: null,
					email: null,
					subject_id: null,
					message: null,
				},
				hasErrors: false,
			},
			subjects: []
        });

        const fetchSubjects = () => {
            const subjects = axios.get(route('api.subjects.all'));
			subjects.then((data) => {
				state.subjects = data.data
			})
		}
		
		const updateSelection = (e) => {
            form.subject_id = e;
        }

        const formSent = () => {
            state.form.sent = true;
        };

        const showSuccess = () => {
			formSent();
            state.form.success = true;
        };

		const showError = () => {
			formSent();
            state.form.error = true;
        };

		const validEmail = (email) => {
			var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		}

		const formValidated = () => {
			state.form.errors = [];
			state.form.hasErrors = false;

			if (!form.full_name) {
				state.form.errors.full_name = "Het invullen van een naam is verplicht!";
				state.form.hasErrors = true;
			}
			if (!form.email) {
				state.form.errors.email = 'Het invullen van een e-mail is verplicht!';
				state.form.hasErrors = true;
			} else if (!validEmail(form.email)) {
				state.form.errors.email = 'Voer een geldig e-mailadres in!';
				state.form.hasErrors = true;
			}

			if (!form.subject_id || form.subject_id == 0) {
				state.form.errors.subject_id = "Het kiezen van een onderwerp is verplicht!";
				state.form.hasErrors = true;
			}

			if (!form.message) {
				state.form.errors.message = "Het verzenden van een leeg bericht is niet toegestaan!";
				state.form.hasErrors = true;
			}

			if (!state.form.hasErrors) {
				return true;
			}
		}

        const submit = () => {
			if(formValidated()){
				form.post(route('contact.store'), {
					onSuccess: () => showSuccess(),
					onError: () => showError(),
				});
			}
        };

		const reloadForm = () => {
			Inertia.reload();
		};

		onBeforeMount(() => {
			fetchSubjects()
		});

        return { state, form, updateSelection, submit, reloadForm }
    },
}
</script>