<template>
	<Head title="Contact" />

	<section class="py-12">
		<div class="max-w-screen-xl mx-auto sm:px-6 lg:px-8">
			<div class="px-8 py-4 mb-4 overflow-hidden text-center shadow-sm wb-bg-dark-blue sm:rounded-lg">
				<h1 class="text-3xl font-bold wb-text-normal-blue">Contact met Ymaro Blue</h1>
				<p class="wb-text-white">Heb je vragen, wil je feedback geven of gewoon even kletsen?</p>
				<p class="wb-text-white">Stuur mij dan een bericht op een van mijn socials of gebruik het onderstaande formulier</p>
			</div>
			<div class="px-8 py-4 overflow-hidden shadow-sm infinite-scroll sm:rounded-lg wb-bg-normal-blue">
				<ContactForm />
			</div>
		</div>
	</section>
</template>

<script>
import ContactForm from '@/forms/Frontend/Contact';
import { Head } from '@inertiajs/inertia-vue3';

export default {
	components: {
		ContactForm,
		Head
	}
}
</script>