<template>
	<BreezeValidationErrors class="mb-4" />

	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		
		<div class="mt-4">
			<BreezeLabel for="name" :value="`${tag_type.name} Name`" />
			<BreezeInput id="name" type="text" class="block w-full mt-1" v-model="form.name" required autofocus />
			<!-- <div v-if="form.errors.name">{{ form.errors.name }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="slug" value="Slug" />
			<BreezeInput id="slug" type="text" class="block w-full mt-1" v-model="form.slug" required />
			<!-- <div v-if="form.errors.slug">{{ form.errors.slug }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="icon" value="Icon" />
			<BreezeInput id="icon" type="text" class="block w-full mt-1" v-model="form.icon" required />
			<!-- <div v-if="form.errors.icon">{{ form.errors.icon }}</div> -->
		</div>

		<div class="flex items-center justify-between mt-4">
			<BreezeButton class="font-black bg-red-600" @click="deleteTag">
				Delete {{ tag_type.name }}
			</BreezeButton>

			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Save {{ tag_type.name }}
			</BreezeButton>
		</div>

	</form>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeButton from '@/Components/common/Button';
import BreezeCheckbox from '@/Components/common/Checkbox';
import BreezeInput from '@/Components/common/Input';
import BreezeInputCheckbox from '@/Components/common/InputCheckbox';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';

import { Inertia } from '@inertiajs/inertia'
import { useForm } from '@inertiajs/inertia-vue3';

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputCheckbox,
        BreezeLabel,
        BreezeValidationErrors,
    },

    props: {
		canResetPassword: Boolean,
		status: String,
        tag: Object,
        tag_type: Object,
    },

    setup(props) {

		const { tag } = props;
		const form = useForm({
			name: tag.name,
			slug: tag.slug,
			icon: tag.icon,
			id: tag.id,
		});

        const submit = () => {
			form.post(route('wb.tag.edit', form));
        };

        const deleteTag = (e) => {
			e.preventDefault();
			
			let confirm = window.confirm('Are you sure you want to remove this technology?');
			if(confirm){
				form.delete(route('wb.tag.delete', tag.id));
			}
        };

        return { 
			form,
			submit,
			deleteTag,
		}
    }
}
</script>