<template>
	<BreezeValidationErrors class="mb-4" />

	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		
		<div class="mt-4">
			<BreezeLabel for="name" :value="`${tag_type.name} Name`" />
			<BreezeInput id="name" type="text" class="block w-full mt-1" v-model="form.name" required autofocus @change="updateSlug"/>
			<!-- <div v-if="form.errors.name">{{ form.errors.name }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="slug" value="Slug" />
			<BreezeInput id="slug" type="text" class="block w-full mt-1" v-model="form.slug" required />
			<!-- <div v-if="form.errors.slug">{{ form.errors.slug }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="icon" value="Icon" />
			<BreezeInput id="icon" type="text" class="block w-full mt-1" v-model="form.icon" required />
			<!-- <div v-if="form.errors.icon">{{ form.errors.icon }}</div> -->
		</div>
		<BreezeInput id="status" type="hidden" class="block w-full mt-1" v-model="form.status" />

		<div class="flex items-center justify-end mt-4">
			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Add {{ tag_type.name }}
			</BreezeButton>
		</div>
	</form>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import BreezeButton from '@/Components/common/Button.vue'
import BreezeCheckbox from '@/Components/common/Checkbox.vue'
import BreezeInput from '@/Components/common/Input.vue'
import BreezeInputText from '@/Components/common/InputText.vue'
import BreezeLabel from '@/Components/common/Label.vue'
import BreezeValidationErrors from '@/Components/common/ValidationErrors.vue'

import { Inertia } from '@inertiajs/inertia'
import { useForm } from '@inertiajs/inertia-vue3'

import { convertToSlug } from '@/Functions';

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputText,
        BreezeLabel,
        BreezeValidationErrors,
    },

    props: {
        canResetPassword: Boolean,
        status: String,
		newId: Number,
		tag_type: Object,
    },

    setup(props) {

		const { tag_type } = props;
		const { newId } = props;
		
		const form = useForm({
			name: null,
			slug: null,
			icon: null,
			type_id: tag_type.id, 
		});

		const updateSlug = () => {
			form.slug = convertToSlug(form.name)
		};
		
        const submit = () => {
            form.post(route('wb.tag.store'), {
				onSuccess: () => Inertia.visit(route('wb.tag.details', { tag: tag_type.slug, id: newId})),
			});
        };

        return { form, submit, updateSlug}
    }
}
</script>
