@import 'breakpoints';

@mixin transition {
    @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
            // transition-delay:  #{$i * 100 + 'ms'};
            transition: opacity .3s ease #{$i * 100 + 'ms'};
        }
    }
}