// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$wb-dark-blue: #17252A;
$wb-mid-blue: #2B7A78;
$wb-normal-blue: #3AAFA9;
$wb-light-blue: #DEF2F1;
$wb-white: #FEFFFF;
$wb-cta-red: #ff6961;

.wb{
    &-bg{
        &-dark-blue{
            background-color: $wb-dark-blue;
        }
        &-mid-blue{
            background-color: $wb-mid-blue;
        }
        &-normal-blue{
            background-color: $wb-normal-blue;
        }
        &-light-blue{
            background-color: $wb-light-blue;
        }
        &-white{
            background-color: $wb-white;
        }
        &-action{
            background-color: $wb-cta-red;
        }
    }
    &-text{
        &-dark-blue{
            color: $wb-dark-blue;
        }
        &-mid-blue{
            color: $wb-mid-blue;
        }
        &-normal-blue{
            color: $wb-normal-blue;
        }
        &-light-blue{
            color: $wb-light-blue;
        }
        &-white{
            color: $wb-white;
        }
        &-action{
            color: $wb-cta-red;
        }
    }
}

