.about-me{
	display: flex;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
	width:80%;
	min-height:400px;
	height: auto;
	margin: -7%  auto 20px auto;
	padding: 30px 0px;
	border-radius:20px 0;
	background:$wb-dark-blue;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  
  @include lg-max{
		width:90%;
		border-radius: 20px 0;
  }

  @include md-max{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 40px 0px;
		align-items: center;
  }

  @include xs-min{
    transform: skewY(-5deg);
  }

  img{
    height:250px;
    border-radius: 20px;

    @include lg-max{
		  height: 200px;
    }

    @include xs-min{
      transform: skewY(5deg);
    }
  }
}

.about-me-text{
	width:500px;
  margin-top: 20px;

  @include lg-max{
		width: 400px;
  }

  @include md-max{
		width:90%;
		text-align: center;
  }

  @include xs-min{
	  transform: skewY(5deg);
  }

  h2{
    color: $wb-white;
    font-weight:bold;
    font-size:32px;
    
    @include lg-max{
      font-size:28px;
    }
  }
  p{
    &:nth-child(1){
      color: $wb-normal-blue;
      font-size:0.875rem;
      font-weight:bold;
      line-height:5px;
      
      @include xs-max{
        text-align: center;
      }
    }
  
    &:nth-child(2),&:nth-child(3){
      text-align: left;
      color:$wb-white;
      font-family:calibri;
      font-size:1rem;
    }
  }

  button.projects-btn{
    width:120px;
    height: 40px;
    color: $wb-dark-blue;
  }
} 