// standard breakpoints
$screen-xs-min: 426px;
$screen-xs-max: 425px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 501px;
$screen-sm-max: 500px;

// Small tablets (portrait view)
$screen-md-min: 751px;
$screen-md-max: 750px;

// Tablets and small desktops
$screen-lg-min: 1001px;
$screen-lg-max: 1000px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$screen-xl-max: 1199px;

// Extra small devices
@mixin xs-min {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin xs-max {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
}

// Small devices
@mixin sm-min {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm-max {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}
 
// Medium devices
@mixin md-min {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin md-max {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}
 
// Large devices
@mixin lg-min {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin lg-max {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}
 
// Extra large devices
@mixin xl-min {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin xl-max {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

// Custom devices
@mixin rwd-min($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

@mixin rwd-max($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}

@mixin rwd-min-max($min, $max) {
    @media (min-width: $min+'px') and (max-width: $max+'px') {
        @content;
    }
}