 
form {
  margin: 0 auto;
  max-width: 600px;
  
  input{
    box-sizing: border-box;
  }
}

fieldset{
  border:0;
}

.contact-me{
  @include lg-max{
    height: 200px;
  }

  @include md-max{
    height: 180px;
  }
  
  p{
    @include lg-max{
      font-size: 26px;
    }
    
    @include md-max{
      font-size: 18px;
    }
  }

  button{
    @include lg-max{
      font-size: 14px;
      height:35px;
      width: 160px;
    }

    @include md-max{
      width: 150px;
      height: 33px;
    }
  }
}

section#contact{
  margin: 0 auto;
  width: 80%;
  text-align: center;

  h2{
    text-align: center;
  }
  
  form{
    margin: 0 auto 40px;
    width: 600px;
  }
  
  
  input{
    select#ps5-type,
    #mail,
    #name{
      width: 100%;
      height: 40px;
      border: 4px solid $wb-dark-blue;
      margin-bottom: 5px;
      padding: 0 10px;
    }

    #bezorgen,
    #afhalen{
      width: 50%;
      height: 20px;
      padding: 10px;
      border: 4px solid $wb-dark-blue;
      margin-bottom: 5px;
    }
  }
  
  button{
    width: 100%; 
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
    color: white;
    background-color: #0070cc;
    border: 4px solid #0070cc;
    transition: background-color .2s ease-in;

   &:hover,
    :focus{
      background-color: white;
      border: 4px solid #0070cc;
      color: black;
      color: #0070cc;
      font-weight: bold;
    } 
  }
  
  
  fieldset{
    width: 200px;
    text-align: right;
  }
  
  label{
    float: left;
    display: block;
  }
  
  aside{
    text-align: center;
    margin-bottom: 20px;
  }
}
