footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $wb-dark-blue;

  p{
    font-family: calibri;
    
   &:nth-child(1){
      font-size: 30px;
      font-weight:bold;
      color: $wb-normal-blue;
      line-height:10px;

      @include xs-max{
        font-size: 25px;
      }
    }
    
   &:nth-child(2){
      width:600px;
      text-align: center;
      color:$wb-white;
      font-size: 1.1rem;

      @include md-max{
        width: 90%;
      }
    }
  }
  
  .socials{ 
    display: flex;
  
    @include md-max{
      margin-bottom: 10px;
    }
  
    a{
      width:40px;
      height:40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:$wb-white;
      margin:20px 10px;
      border-radius:50%;
      
     &:hover{
        background-color:$wb-dark-blue;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
        transition:all ease 0.5s;
  
        svg{
          color:#FFFFFF;
          transition:all ease 0.5s;
        }
      }
    }
  
    svg, .socials-aside svg{
      color:#000000;
    }
  }
  
  .copyright{
    color: $wb-white;
    font-size: 12px;
    position: absolute;
    left:50%;
    bottom:10px;
    transform: translateX(-50%);
  
    @include md-max{
      bottom: 0px;
    }
  }
}


