*{
    box-sizing: border-box;
    font-family: calibri;
    margin:0px;
    padding:0px;
}

html, body {
    height: 100%;
    position: relative;
}

html{
	scroll-behavior: smooth;
    
    body{
        font-family: Helvetica, Arial;
        
        &.no-scroll{
            overflow: hidden;
        }

        main.frontend{

            button, a.cta{
                border-radius:5px;
                font-family:calibri;
                font-weight:bold;
                font-size: 14px;
                outline:none;
                background-color:$wb-cta-red;
                text-align: center;
                padding: 5px 10px;
                border: 2px solid transparent;
                
                &:hover{
                    background-color:$wb-white;
                    color: $wb-dark-blue;
                    border: 2px solid $wb-cta-red!important;
                }
                
                &:active{
                    transform:scale(0.9);
                }
            }
            
            button, a{
                cursor: pointer;
            }
        }
    }

    ul{
        list-style:none;
    }
    
    a{
        text-decoration:none;
    }
}



#app{
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 300px;

    p{
        margin: 15px 0;
        
        @include lg-max{
            margin: 10px 0;
        }
    }
}
