header.frontend{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items:center;
        height:100px;
        background-color: $wb-normal-blue;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
        padding: 0px 10%;
        
        @include md-max{
            height: 60px;
        }
        
        &.active{
            ul{
                @include md-max{
                    display: flex !important;
                }
            }
        }
    
        ul{
            display: flex;
            
            @include md-max{
                margin: 0px;
                padding: 0px;
                background-color: #ebeef4;
                flex-direction: column;
                position: fixed;
                left: 0;
                top: 0;
                width:100%;
                height: 100vh;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                display: none;
            }
    
            li {
                margin:5px;
    
                @include md-max{
                    padding:10px;
                }
    
                a{
                    padding: 10px 20px;
                    color: $wb-dark-blue;
                    font-size: 15px;
                    font-weight:700;
                    border-radius: 20px;
                    transition: background-color .4s;
    
                    @include md-max{
                        font-family: calibri;
                        font-size: 1.4em;
                        text-transform: uppercase;
                        color:#5c5c5c;
                    }
    
                    &:hover{
                        background-color: $wb-white;
                        color: $wb-dark-blue;
                    }
                    &.active{
                        color: $wb-white;
                        background-color: $wb-dark-blue;
                    }
                }
            }    
        }
        
        .toggle{
            display: none;
            width: 40px;
            height: 40px;
            z-index: 10;
            cursor: pointer;
        
            @include md-max{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        .logo{
            color:#000000;
            font-size: 22px;
            
            img{
                width: 100px;
                @include md-max{
                    width: 80px;
                    padding: 10px;
                }
                /* filter: drop-shadow(1px 1px 10px black); */
            }
        }
    } 
}