
#intro{
  margin-bottom: 20px;
  
  div.intro-content{
    position: absolute;
    top:42%;
    left:15%;
    right:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 60%;
    height: 350px;
    border-radius: 20px 50% 20px 32%;
    background-color: #d3d3d3;
    transform: translate(-13%, -42%) skewY(-5deg);

    @include rwd-min(1440){
      left: 30%;
      width: 45%;
    }

    @include lg-max{
      top:46%;
      width: 70%;
      padding: 70px;
    }

    @include md-max{
      top: 50%;
      left: 50%;
      padding: 50px 20px;
      width: 90%;
      transform: translate(-50%,-50%);
      border-radius: 20px 0;   
    }

    @include rwd-min-max(426, 750){
      transform: translate(-50%,-50%) skewY(-5deg);
    }

    @include xs-max{
      height: 420px;
    }

    > * {
      @include xs-min{
        transform: skewY(5deg);
      }
    }

    div{

      display: flex;
      gap: 10px;

      button{
        width:130px;
        height:42px;
        
        &.skills-btn{
          border:2px solid #373636;
          background-color:transparent;
        
          a{
            color:#373636;
          }

          &:hover{
            background-color: $wb-dark-blue;
            border: none !important;

            a{
              color: white;
            }
          }
        }
        
        &.projects-btn{
          color: $wb-dark-blue;
          border:none;
          
          a{
            color:inherit;	
          }
        }
        
        @include lg-max{
          margin: 5px;
        }
      }
    }

    h2{
      &:nth-child(2){
        font-family:calibri;
        font-weight:bold;
        line-height: 60px;
        color:#1a1a1a;
        font-size:60px;
        
        @include md-max{
          line-height: 40px;
          margin: 0px;
          padding: 0px;
        }

        @include xs-max{
          line-height: 50px;
        }
      }
    }

    p{
      line-height:0px;

      &:nth-child(1){
        font-family: calibri;
        font-weight:bold;
        color:#6d6d6d;
        font-size:22px;
      }

      &:nth-child(3){
        color: #403e3e;
        font-size:30px;
        line-height:30px;
      }
      
    }
  }
  
  .model{
    height:450px;
    position:absolute;
    bottom:40px;
    left:79%;
    transform: translateX(-75%);

    @include lg-max{
      height: 310px;
      left: 90%;
      transform: translateX(-90%);
    }

    @include xl-min{
      height: 500px;
    }

    @include md-max{
      display: none;
    }
  }
}
