.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        z-index: 999999;
    }

    .modal-content {
        position: absolute;
        width: 90%;
        height: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 2rem 1.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
    
        & > div {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            align-items: center;
            gap: 40px;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            
            @include rwd-max(768){
                flex-wrap: wrap;
                gap: 5px;
                width: 100%;
                overflow-y: auto;
            }

            & > section.project-images{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;	
                flex-shrink: 0;
                gap: 10px;
                width: 50%;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: $wb-normal-blue;
                border-radius: 0 0 10px 10px;
                
                @include rwd-max(768){
                    flex-direction: row;
                    margin: 20px 0 0;
                    width: 100%;
                    height: 50%;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                }
                
                @include sm-max{
                    height: 400px;
                    flex-direction: column;
                    gap: 20px;
                }

                @include xs-max{
                    height: 50%;
                }

                & > span{
                    position: sticky;
                    top: -1px;
                    margin: -1px;
                    width: 101%;
                    padding: .5em 1.5rem;
                    background-color: #fff;
                    text-align: left;
                    z-index: 999;
                    
                    @include rwd-max(768){
                        left: 0;
                        position: absolute;
                        padding: .5em 1em;
                    }
                }

                & > figure{
                    position: relative;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    padding: 1.5rem;
                    width: 100%;
                    height: auto;
                    
                    @include rwd-max(768){
                        width: auto;
                        height: 250px;
                        scroll-snap-align: start;
                    }
                    
                    @include sm-max{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: auto;
                    }

                    & > img{
                        border-radius: 16px;
                        box-shadow: 0px 0px 5px #000;
                        height: 100%;

                        @include sm-max{
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                & ::-webkit-scrollbar {
                    display: none;
                }
            }

            & > section{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
                width: 100%;
                text-align: left;
                overflow-y: auto;
                
                @include rwd-max(768){   
                    justify-content: center;
                    height: auto;
                    overflow-y: initial;
                }
            
                & h2{
                    font-size: 2rem;

                    @include rwd-max(768){   
                        position: sticky;
                        top: -1px;
                        background-color: #fff;
                        padding: 0.3em 0;
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }

                & h3{
                    font-size: 1.25rem;
                    
                    @include rwd-max(768){
                        font-size: 1.1rem;
                        font-weight: bold;
                    }
                }

                & p{
                    max-width: 500px;
                    text-align: left;

                    &.full-description > span{
                        font-weight: 700;
                        font-size: 1.5rem;
                        margin-bottom: 5px;
                        line-height: 2rem;
                    }
                }

                & > a{
                    display: block;
                    width: 150px;
                    margin: 10px 0;
                    padding: 10px;

                    &.sticky{
                        position: sticky;
                        bottom: 0;
                    }

                    @include sm-max{
                        text-align: center;
                        width: 100%;
                    }

                    @include rwd-min-max(769, 1024){
                        text-align: center;
                        width: 100%;
                    }
                }

                & span.btm {
                    padding: .5em 1em;
                    color: orange;
                    background-color: #000;
                    font-weight: 700;
                    border-radius: 5px;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .close-button {
            float: right;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;
            border-radius: 0.25rem;
            background-color: lightgray;

            &:hover {
                background-color: darkgray;
            }
        }
    }
}