.projects{
	height:auto;
	background-color:#ffffff;
  background-color: $wb-normal-blue;
	padding: 2% 10% 2% 10%;

  @include lg-max{
		height: auto;
		padding: 2% 5% 0px 5%;
  }
}

.projects-text{
  width: 500px;
  margin:50px auto;
  text-align: center;

  @include md-max{
		width: 100%;
  }
  
  h2{
    font-family: calibri;
    font-weight:bold;
    color:#1d1c1c;
    font-size:32px;
  }
    
  p{
   &:nth-child(2){
      font-family:calibri;
      color: $wb-dark-blue;
      font-size: 1.1em;
    }
  }
}

.projects-container{
	display:flex;
	justify-content:center;
	flex-wrap: wrap;
	gap: 20px;
	padding-bottom: 50px;
  list-style-type: none;

  @include lg-max{
    justify-content: center;
		flex-wrap: wrap;
  }

  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 998;
  }
  
}
  
.project{
	position: relative;
	width: 350px;
	height: 320px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	margin: 0px 4px;
	border-radius: 20px;
	overflow: hidden;

  &, .box-2, .box-3{
    @include lg-max{
  		flex-grow: 0;
      flex-basis: 45%;
		  margin: 10px;
    }
    
    @include md-max{   
      flex-grow: 1;
    }
  } 

  > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
    height: 0;
    border-radius: inherit;
    text-align: center;
    transition: height .2s ease-out;
    background-color: $wb-dark-blue;
    padding: 0 10px;
  }
  
  &.show > section{
    height: 100%;
    background-image: url('/storage/images/services-1.png');

    @include md-max{
      padding: 0px 20px;
    }
  }
  
  span{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5px;
    font-family: calibri;
    font-weight: bold;
  }
  
  > span{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: $wb-white;
    background-color: $wb-dark-blue;
    border-radius: 0 0 20px 20px;
    transition: height .3s;
  }

  > span > i{
    margin-left: 10px;
  }

  &.show > span{
    height: 0;
    overflow: hidden;
  }

  p{
   &:nth-child(2){
      color:#FFFFFF;
      font-family: calibri;
      font-size: 23px;
      line-height:20px;
    }
   
   &:nth-child(3){
      font-family: calibri;
      color:#8F8F8F;
      text-align:center;
      width: 230px;
      margin:0px 0px 20px 0px;
    }
  }

  button{
    width:100px;
    background-color:$wb-cta-red;
    border:none;
    outline: none;
  }
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	width: 90%;
	height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $wb-white;
	padding: 2rem 1.5rem;
	border-radius: 0.5rem;
	overflow: hidden;

  > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    height: 100%;
    flex-shrink: 0;

    ::-webkit-scrollbar {
      display: none;
    }

    > p{
      max-width: 500px;
      text-align: left;

      @include sm-max{
        max-width: 100%;
      }
    }

    > a{
      color: $wb-white;
      background-color: $wb-mid-blue;
      border-radius: 20px;
      padding: 10px 20px;
      margin-bottom: 10px;
    }

    > span.btm{
      color: orange;
    }

    > p.full-description > span{
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 5px;
      line-height: 2rem;
    }

    > div{
      .project-images{
        display: flex;
        justify-content: space-between;	
        flex-shrink: 0;
        gap: 10px;
        width: 60%;
        overflow-x: scroll;

        @include sm-max{
          justify-content: flex-start;	
          flex-shrink: 0;
          width: 100%;
        }

        ::-webkit-scrollbar {
          display: none;
        }

        .close-button {
          float: right;
          width: 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          cursor: pointer;
          border-radius: 0.25rem;
          background-color: lightgray;

         &:hover {
            background-color: darkgray;
          }
        }

        div{
          position: relative;
          flex-shrink: 0;
          width: auto;
          height: 250px;
          padding: 1.5rem;

          @include sm-max{
            height: 200px;
          }

          > img{
            border-radius: 16px;
            box-shadow: 1px 1px 10px #000;
            height: 100%;
          }
        }
      }  
    }   
  }
}

#project-filters{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px 40px;
  color: $wb-normal-blue;
  font-weight: 700;
  background-color: $wb-dark-blue;
  border-radius: 10px;
  z-index: 99;
  
  button {
    padding: 1rem;
  }

  &.pinned{    
    position: sticky;
    top: 105px;

    @include md-max{
      top: 65px;
    }
  }

  @include rwd-max(640){
    margin: 10px;
  }

  >section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h4{
      font-size: 24px;
      font-weight: 700;
    }
  }

  >div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    transition: height 0.4s;
    overflow: hidden;

    &.closed{
      height: 0!important;
    }

    @include md-max{
      display: flex;
      flex-wrap: wrap;
    }

    section{
      
      @include md-max{
        width: 100%;
      }

      p{
        color: $wb-white;
      }

      div{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        
        input[type=checkbox]{

          position: absolute;
          width: 0px;
          height: 0px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          white-space: nowrap;
          border: 0;
          display: none;

          + label{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0 52px;
            height: 2em;
            padding: 0 1em;
            border: 2px solid $wb-dark-blue;
            color: $wb-dark-blue;
            background-color: $wb-cta-red;
            border-radius: 5px;
            cursor: pointer;
            
            &:hover{
              border: 2px solid $wb-cta-red;
              background-color: $wb-white;
            }

            span{
              margin: 0;
              min-width: min-content;
              color: var(--text-color);
            }
          }
           
          &:checked + label {
            background-color: $wb-dark-blue;
            color: $wb-cta-red;
            transform: scale(0.95);
            border: 3px solid $wb-white;
          }
        }
      }
    }
  }
}

.swal2-container{
  display: none;
}

.projects div.spinner::before{
  background-color: $wb-normal-blue;
}
