main > section{
  position: relative;
  width:100%;
  height: 500px;
  background-color: $wb-white;
  
  @include lg-min{
    height:95vh;
  }

  @include md-max{
    background-image:none;
    background-color:#f7f7f7;
  }

  &:last-of-type {
    height: auto;
  }

  &:nth-of-type(2){
    height: auto;
    padding-bottom: 80px;
  }
} 



