.socials-aside{
	position: fixed;
	bottom:20px;
	right:10px;

  @include md-max{
		display: none;
  }

  &.open{
    div{
      height: 100%;

      a{
        opacity: 1;
        // transition: opacity .2s;
        @include transition;

      }
    }
  }

  button{
    width:50px;
    height:50px;
    margin-top: 10px;
    background-color: $wb-cta-red;
    border-radius: 10px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
    border:1px solid #CBCBCB;

    svg{
      font-size:20px;
      color:$wb-dark-blue;
    }
  }

  div{
    height: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
    overflow: hidden;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width:40px;
      height:40px;
      background-color:$wb-dark-blue;
      border-radius:50%;
      box-shadow:2px 2px 5px rgba(0,0,0,0.2);
      opacity: 0;
      // transition: opacity .3s;
      @include transition;
      
      &:hover{
        background-color:$wb-white;
        transition:all ease 0.5s;
        
        svg{
          color: $wb-dark-blue;
          transition:all ease 0.5s;
        }
      }

      svg{
        font-size:20px;
        color:$wb-white;
      }
    }
  }
}
