table{
  
  thead{
    .theme-bg{
      background-color: $wb-normal-blue;
    }
  }

  @include rwd-max(639){
    thead{
      tr{
        th{
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          text-align: center!important;
          line-height: 20px;
        }
      }
    }
    
    tbody{
      tr{
        td{
          button{
            margin: 0.5rem;
          }
        }
      }
    }
  }

  @include rwd-min(640){
    display: inline-table !important;

    thead{
      tr{
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  td{
    height: 50px;

    button{
      display: block!important;
      margin: 0 auto;
    }

    &:not(:last-child) {
      border-bottom: 0;
    }
  }

  th{
    height: 50px;

    &:not(:last-child) {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
  }
}