<template>
	<BreezeValidationErrors class="mb-4" />

	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		
		<div class="mt-4">
			<BreezeLabel for="name" value="Project Name" />
			<BreezeInput id="name" type="text" class="block w-full mt-1" v-model="form.name" required autofocus />
			<!-- <div v-if="form.errors.name">{{ form.errors.name }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="prefix" value="Prefix(Edit manually)" />
			<BreezeInput id="prefix" type="text" class="block w-full mt-1 bg-gray-300" v-model="form.prefix" required disabled="true"/>
			<!-- <div v-if="form.errors.prefix">{{ form.errors.prefix }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="description" value="Description" />
			<BreezeInput id="description" type="text" class="block w-full mt-1" v-model="form.description" required />
			<!-- <div v-if="form.errors.description">{{ form.errors.description }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="full_description" value="Full Description" />
			<QuillEditor theme="snow" toolbar="full" v-model:content="form.full_description" contentType="text" @textChange="updateText(form.full_description)" />
			<!-- <div v-if="form.errors.full_description">{{ form.errors.full_description }}</div> -->
		</div>
		
		<div class="mt-4">
			<BreezeLabel for="image" value="Background Image" />
			<div class="img-container">
				<button @click.prevent="removeImage($event, form.image.id)" v-if="displayImages.bg != ''" class="w-8 h-8 text-white bg-red-500 rounded-full hover:bg-red-700">
					<fa icon="times" />
				</button>
				<img :src="displayImages.bg.path ?? ''" alt="Background Image" class="h-48 m-auto"  @mouseenter="toggleBigImage" @mouseleave="toggleBigImage">
			</div>
			<UploadImages id="image" :max="1" @change="imageChange" />
		</div>
		
		<div class="mt-4">
			<BreezeLabel for="multi-image" value="Project Images" />
			<div class="container flex flex-wrap p-2 m-auto justify-evenly w-100">
				<div v-for="(image, index) in displayImages.gallery" class="img-container" :key="index">
					<button @click.prevent="removeImage($event, image.id)" class="w-8 h-8 text-white bg-red-500 rounded-full hover:bg-red-700">
						<fa icon="times" />
					</button>
					<img  :src="image.path" :alt="`Gallery Image ${index + 1}`" class="h-40 mb-2"  @mouseenter="toggleBigImage" @mouseleave="toggleBigImage"/>
				</div>
			</div>
			<UploadImages id="multi-image" @change="imageChangeMultiple" />
		</div>
	
		<div class="mt-4">
			<BreezeLabel for="link" value="Link" />
			<BreezeInput id="link" type="url" class="block w-full mt-1" v-model="form.link" />
			<!-- <div v-if="form.errors.link">{{ form.errors.link }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="date" value="Year" />
			<BreezeInput id="date" type="date" class="block w-full mt-1" v-model="form.date" />
			<!-- <div v-if="form.errors.date">{{ form.errors.date }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="message_top" value="Message Top" />
			<BreezeInput id="message_top" type="text" class="block w-full mt-1" v-model="form.message_top" />
			<!-- <div v-if="form.errors.message_top">{{ form.errors.message_top }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="message_bottom" value="Message Bottom" />
			<BreezeInput id="message_bottom" type="text" class="block w-full mt-1" v-model="form.message_bottom" />
			<!-- <div v-if="form.errors.message_bottom">{{ form.errors.message_bottom }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="categories" value="Category Tags" />
			<vue-tags-input
				id="categories"
				v-model="categoryTag"
				:add-only-from-autocomplete="true"
				:avoid-adding-duplicates="true"
				:tags="form.categories"
				:autocomplete-items="tags.categories.filteredOptions"
				@tags-changed="tags.categories.update"
			/>
		</div>

		<div class="mt-4">
			<BreezeLabel for="technologies" value="Technology Tags" />
			<vue-tags-input
				id="technologies"
				v-model="technologyTag"
				:add-only-from-autocomplete="true"
				:avoid-adding-duplicates="true"
				:tags="form.technologies"
				:autocomplete-items="tags.technologies.filteredOptions"
				@tags-changed="tags.technologies.update"
			/>
		</div>

		<div class="mt-4">
			<BreezeLabel for="project_types" value="Project Type Tags" />
			<vue-tags-input
				id="project_types"
				v-model="projectTypeTag"
				:add-only-from-autocomplete="true"
				:avoid-adding-duplicates="true"
				:tags="form.project_types"
				:autocomplete-items="tags.project_types.filteredOptions"
				@tags-changed="tags.project_types.update"
			/>
		</div>
	
		<div class="mt-4">
			<BreezeLabel for="status" value="Active" />
			<BreezeInputCheckbox id="status" name="status" classes="block w-full mt-1 border-0 status" 
				:checked="form.status === 'active' ? true : false" 
				@input="updateStatus"
				v-model="form.status"
			/>
			<!-- <div v-if="form.errors.message_bottom">{{ form.errors.message_bottom }}</div> -->
		</div>
		
		<div class="flex items-center justify-between mt-4">
			<BreezeButton class="font-black bg-red-600" @click="deleteProject">
				Delete Project
			</BreezeButton>

			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Save Project
			</BreezeButton>
		</div>

	</form>
	<div class="img-container" id="img-shower">
		<img v-if="state.image.shown" :src="state.image.src" alt="Big image">
	</div>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeButton from '@/Components/common/Button';
import BreezeCheckbox from '@/Components/common/Checkbox';
import BreezeInput from '@/Components/common/Input';
import BreezeInputCheckbox from '@/Components/common/InputCheckbox';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';

import { reactive, onMounted, watch, computed, ref } from 'vue'
import { Inertia } from '@inertiajs/inertia'
import { useForm } from '@inertiajs/inertia-vue3';

import UploadImages from "vue-upload-drop-images"
import VueTagsInput from '@sipec/vue3-tags-input';
import { QuillEditor } from '@vueup/vue-quill';
import '@vueup/vue-quill/dist/vue-quill.snow.css';

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputCheckbox,
        BreezeLabel,
        BreezeValidationErrors,
		UploadImages,
		QuillEditor,
		VueTagsInput
    },

    props: {
		canResetPassword: Boolean,
		status: String,
        project: Object,
        tagsToLoad: Object,
    },

    setup(props) {

		const displayImages = reactive({
			bg: '',
			gallery: [],
			updated: false
		});
		
		const { project, tagsToLoad } = props;
		const form = useForm({
			name: project.name,
			prefix: project.prefix,
			description: project.description,
			full_description: project.full_description,
			image: project.bg_image ?? '',
			images: project.gallery_images,
			link: project.link,
			date: project.date,
			message_top: project.message_top,
			message_bottom: project.message_bottom,
			categories: tagsToLoad.categories.items,
			technologies: tagsToLoad.technologies.items,
			project_types: tagsToLoad.project_types.items,
			status: project.status,
		});

		const categoryTag = ref("");
		const technologyTag = ref("");
		const projectTypeTag = ref("");

		watch(categoryTag, ([newCategory]) => {
			searchTags(tags.categories, 1)
		});		

		watch(technologyTag, ([newTechology]) => {
			searchTags(tags.technologies, 2)
		});	

		watch(projectTypeTag, ([newProjectType]) => {
			searchTags(tags.project_types, 3)
		});	

		const tags = reactive({
			categories: {
				tag: computed(() => categoryTag),
				autocomplete: [],
				debounce: null,
				update: (newTags) => {
					tags.categories.autocomplete = [];
      				form.categories = newTags;	
				},
				filteredOptions: computed(() => filteredAutocomplete(tags.categories)),
			},
			technologies: {
				tag: computed(() => technologyTag),
				autocomplete: [],
				debounce: null,
				update: (newTags) => {
					tags.technologies.autocomplete = [];
      				form.technologies = newTags;	
				},
				filteredOptions: computed(() => filteredAutocomplete(tags.technologies)),
			},
			project_types: {
				tag: computed(() => projectTypeTag),
				autocomplete: [],
				debounce: null,
				update: (newTags) => {
					tags.project_types.autocomplete = [];
      				form.project_types = newTags;	
				},
				filteredOptions: computed(() => filteredAutocomplete(tags.project_types)),
			},
		});

		const searchTags = (arr, id) => {			
			if (arr.tag && arr.tag.length < 2) return;
			
			clearTimeout(arr.debounce);
			arr.debounce = setTimeout(() => {
				axios.get(route('api.tags.type', id)).then(response => {
					arr.autocomplete = response.data.map(a => {
						return { text: a.name, id: a.id };
					});
				}).catch(() => console.warn('Oh. Something went wrong'));
			}, 600);
		}

		const filteredAutocomplete = (arr) => {
      		return arr.autocomplete.filter(i => {
				return i.text.toLowerCase().indexOf(arr.tag.value.toLowerCase()) !== -1;
      		});
		}
	
		const state = reactive({ image: {shown: false, src: '' } });

		const toggleImageShown = () => {
			state.image.shown = !state.image.shown;
		}

		const updateStatus = (e) => {
			form.status = (e === true) ? 'active' : 'inactive';
		}

		const updateText = (input) => {
			form.full_description = input.trim();
		}

		const imageChange = (e) => {
			let file = e.target.files[0]
			const img = {
				src: URL.createObjectURL(file),
				file: file,
			}
			displayImages.updated = true;
			form.image = img.file;
		}

		const imageChangeMultiple = (e) => {
			let images = []
            var selectedFiles = e.target.files;
            for (let i = 0; i < selectedFiles.length; i++) {
				let img = {
					src: URL.createObjectURL(selectedFiles[i]),
                    file: selectedFiles[i],
                }
                images.push(img.file);
            }

			displayImages.updated = true;
			form.images = images;
		}

		const updateDisplayImages = () => {
			displayImages.bg = form.image
			displayImages.gallery = form.images
		}

        const submit = () => {
			form.post(route('wb.project.edit', project.id), {
				onSuccess: () => {
					if(displayImages.updated){
						displayImages.updated = false;
					}
				},
				preserveScroll: true,
			});
        };

        const deleteProject = (e) => {
			e.preventDefault();
			
			let confirm = window.confirm('Are you sure you want to remove this Project?');
			if(confirm){
				form.delete(route('wb.project.delete', project.id));
			}
        };

        const removeImage = (e, id) => {
			let confirm = window.confirm('Are you sure you want to remove this image? The project will save automatically.');
			if(confirm){
				let img = e.currentTarget.parentNode;
				img.classList.add('removing');
				setTimeout(function () {
					img.style.display = 'none';
				}, 600);
				Inertia.delete(route('wb.images.remove', id));
			}
        };
		
		const toggleBigImage = (e) => {
			let src = e.target.src;
			// if(src != ''){
			// 	toggleImageShown();
			// 	state.image.src = src 
			// }
		}

		onMounted(() => {
			updateDisplayImages();
		});

        return { 
			form,
			submit,
			deleteProject,
			state,
			tags,
			categoryTag,
			technologyTag,
			projectTypeTag,
			updateStatus,
			updateText,
			imageChange,
			imageChangeMultiple,
			displayImages,
			removeImage,
			toggleBigImage,
		}
    }
}
</script>

<style lang="scss" scoped>
	.container {
		&#image, &#multi-image{
  			max-width: 100%; 
		}
	}
	.img-container{
		position: relative;
		filter: drop-shadow(1px 1px 4px black);
		width: max-content;
		margin: 0 auto 20px;
		transform: scale(1);

		button {
			position: absolute;
			right: -20px;
			top: -20px;
			z-index: 999;
		}

		&#img-shower{
			width: 80%;
			height: auto;
			position: fixed;
			top: 10%;
			left: 0;
			transform: translate(calc(50vw - 50%));
			z-index: 99;
			transition: all 1s;
			
			button{
				display: none;
			}
			
			img{
				width: auto;
				height: 90%;
				z-index: 9999;
			}
		}

		&.removing{
			transform: scale(0);
			transition: all .5s;
		}

	}
</style>