<template>
	<BreezeValidationErrors class="mb-4" />

	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		<div class="mt-4">
			<BreezeLabel for="name" value="Project Name" />
			<BreezeInput id="name" type="text" class="block w-full mt-1" v-model="form.name" required autofocus @change="updatePrefix" />
			<!-- <div v-if="form.errors.name">{{ form.errors.name }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="prefix" value="Prefix" />
			<BreezeInput id="prefix" type="text" class="block w-full mt-1" v-model="form.prefix" required />
			<!-- <div v-if="form.errors.prefix">{{ form.errors.prefix }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="description" value="Description" />
			<BreezeInput id="description" type="text" class="block w-full mt-1" v-model="form.description" required />
			<!-- <div v-if="form.errors.description">{{ form.errors.description }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="full_description" value="Full Description" />
			<QuillEditor theme="snow" toolbar="full" v-model:content="form.full_description" contentType="text" @textChange="updateText(form.full_description)" />

			<!-- <BreezeInputText id="full_description" type="text" class="block w-full mt-1" v-model="form.full_description" required /> -->
			<!-- <div v-if="form.errors.full_description">{{ form.errors.full_description }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="image" value="Background Image" />
			<BreezeInput id="image" type="file" class="block w-full mt-1" @input="imageChange"/>
			<!-- <div v-if="form.errors.image">{{ form.errors.image }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="link" value="Link" />
			<BreezeInput id="link" type="url" class="block w-full mt-1" v-model="form.link" />
			<!-- <div v-if="form.errors.link">{{ form.errors.link }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="date" value="Year" />
			<BreezeInput id="date" type="date" class="block w-full mt-1" v-model="form.date" />
			<!-- <div v-if="form.errors.date">{{ form.errors.date }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="message_top" value="Message Top" />
			<BreezeInput id="message_top" type="text" class="block w-full mt-1" v-model="form.message_top" />
			<!-- <div v-if="form.errors.message_top">{{ form.errors.message_top }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="message_bottom" value="Message Bottom" />
			<BreezeInput id="message_bottom" type="text" class="block w-full mt-1" v-model="form.message_bottom" />
			<!-- <div v-if="form.errors.message_bottom">{{ form.errors.message_bottom }}</div> -->
		</div>
		<BreezeInput id="status" type="hidden" class="block w-full mt-1" v-model="form.status" />

		<div class="flex items-center justify-end mt-4">
			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Add Project
			</BreezeButton>
		</div>
	</form>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeButton from '@/Components/common/Button';
import BreezeCheckbox from '@/Components/common/Checkbox';
import BreezeInput from '@/Components/common/Input';
import BreezeInputText from '@/Components/common/InputText';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';

import { Inertia } from '@inertiajs/inertia'
import { useForm  } from '@inertiajs/inertia-vue3'

import { QuillEditor } from '@vueup/vue-quill';
import '@vueup/vue-quill/dist/vue-quill.snow.css';

import { convertToSlug } from '@/Functions';

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputText,
        BreezeLabel,
        BreezeValidationErrors,
		QuillEditor
    },

    props: {
        canResetPassword: Boolean,
        status: String,
		newId: Number,
    },

    setup(props) {
		const form = useForm({
			name: null,
			prefix: null,
			description: null,
			full_description: '',
			image: null,
			link: null,
			date: null,
			message_top: null,
			message_bottom: null,
			status: 'active',
		});

		const imageChange = (e) => {
			form.image = e.target.files[0];
		}

		const updatePrefix = () => {
			form.prefix = convertToSlug(form.name)
		};

		const updateText = (input) => {
			form.full_description = input.trim();
		}

        const submit = () => {
            form.post(route('wb.project.store'), {
				onSuccess: () => Inertia.visit(route('wb.project.details', props.newId)),
			});
        };

        return { 
			form, 
			updatePrefix,
			updateText, 
			submit, 
			imageChange, 
		}
    }
}
</script>
