<template>

</template>

<script>
// import Layout from '@/Layouts/Backend.vue';

export default {

    // layout: Layout,

    components: {

    },

    props: {

    },

    setup(props) {
        
        return {  }
    }
}
</script>
