<template>
	<Head title="Portfolio" />

	<section class="py-12">
		<div class="max-w-screen-xl mx-auto sm:px-6 lg:px-8">
			<div class="px-8 py-4 mb-4 overflow-hidden shadow-sm wb-bg-dark-blue sm:rounded-lg">
				<h1 class="text-3xl font-bold text-center wb-text-normal-blue">Mijn Projecten</h1>
				<p class="text-center wb-text-white">projecten waar ik op school of zelfstandig aan hebt gewerkt.</p>
			</div>
			<ProjectFilters @updateCheckboxFilter="updateFilters($event)" />
			<ul class="pt-6 overflow-hidden shadow-sm infinite-scroll projects-container sm:rounded-lg wb-bg-normal-blue">
				<Project v-for="(project, index) in state.projects" :key="project.id" :index="index" :project="project" :aos="['fade-up', 'center-bottom']"/>
				<InfiniteLoading class="block w-full text-center" @infinite="loadProjects" :distance="state.scrollDistance" :key="state.infiniteScrollKey">
					<template #complete>
						<span>{{ state.message }}</span>
					</template>
					<template #error="{ retry }">
						<p class="d-block">{{ state.message }}</p>
						<button class="px-2 py-1" @click="retry">Probeer het opnieuw</button>
					</template>
				</InfiniteLoading>
				<span v-show="state.loading" class="w-20 h-20 border-b-2 border-gray-900 rounded-full animate-spin"></span>
			</ul>
		</div>
	</section>
</template>

<script>
import { reactive, onMounted, onBeforeUnmount } from 'vue';
import { Head } from '@inertiajs/inertia-vue3';

import ProjectFilters from '@/components/ProjectFilters';
import Project from '@/Components/Project';

import InfiniteLoading  from "v3-infinite-loading";
import "v3-infinite-loading/lib/style.css";

import { isMobile, isDesktopXl, scrollToTop, scrollToBottom, scrollTo } from '@/Functions';

import AOS from 'aos';
import 'aos/dist/aos.css';
AOS.init({
	once: true,
});
	
export default {
	components: {
		ProjectFilters,
		InfiniteLoading,
		Project,
		AOS,
		Head
	},

	setup(props) {

		const state = reactive({ 
			page: 1,
			projects: [],
			csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
			message: "",
			loading: false,
			infiniteScrollKey: 0,
			isMobile: true,
			scrollDistance: 500,
			scrollReset: 50,
		});

		const checkScreenSize = () => {
			isMobile();
			isDesktopXl();
		}

		if(isMobile()){
        	state.scrollDistance = 150;
        	state.scrollReset = 10;
		}

		if(isDesktopXl()){
        	state.scrollDistance = 600;
        	state.scrollReset = 60;
		}
		
		const filters = { 
			category:{
				checks: [],
			},
			technology:{
				checks: [],
			},
			type:{
				checks: [],
			},		
		};

		const arrayParam = (arr) => {
			const param = (arr.length > 0) ? arr.toString() : null;
			return param;
		};
		
		const loadProjects = async ($state) => {
			try {
				state.loading = !state.loading;
				const response = await axios.get('/api/projects/taggable', {
					params:{
						categories: arrayParam(filters.category.checks),
						technologies: arrayParam(filters.technology.checks),
						types: arrayParam(filters.type.checks),
						page: state.page,
					}
				})

				const json = await response.data.data;
				state.loading = !state.loading;

				if (json.length) {
					state.projects.push(...json);
					state.page++;
					$state.loaded();
				} else {
					if(state.projects.length){
						state.message = "Dat was het alweer😉.";
					} else {
						if(filters.category.checks.length || filters.technology.checks.length || filters.type.checks.length){
							state.message = "Er is op dit moment nog geen project te zien met deze filters👀";
						} else {
							state.message = "Er is op dit moment nog geen project te zien👀";
						}
					}
					$state.complete();
				}
			} catch (error) {
				state.message = "Er is iets fout gegaan bij het laden van de projecten";
				$state.error();
			}
		}

		const updateFilters = (e) => {
			scrollTo(0, 5);
			scrollToTop();
			
			filters.category.checks = e.category.checks;
			filters.technology.checks = e.technology.checks; 
			filters.type.checks = e.type.checks; 
			state.page = 1;
			state.projects = [];	
			state.infiniteScrollKey++;
		
		}

		// const emptyFilters = (e) => {
		// 	filters.category.checks = [];
		// 	filters.technology.checks = []; 
		// 	filters.type.checks = []; 
		// 	state.page = 1;
		// 	projects.value = [];	
		// 	state.infiniteScrollKey++;
		// }

		const scrollToTop = () => {
			window.scrollTo(0, 0);
		}

		onMounted(() => {
			scrollToBottom(state.scrollReset);
			scrollToTop();
			isMobile();
			window.addEventListener("resize", checkScreenSize);
		});

		onBeforeUnmount(() => {
			window.removeEventListener('resize', checkScreenSize);
		});
		

		return {
			state,
			loadProjects,
			updateFilters,
		}
	}
}
</script>