<template>
  <Head title="Home" />
  
  <section id="intro">
    <!-- Intro -->
    <div class="intro-content">
      <Html :content="content.home_intro_content"/>
      <div>
        <button class="skills-btn"><a href="#over-mij">Over mij</a></button>
        <button class="projects-btn"><a :href="route('projects')">Mijn Projecten</a></button>
      </div>
    </div>

    <!-- Foto -->
    <img alt="model" class="model" :src="content.home_intro_img"  />
  </section>

  <section id="over-mij">
    <!-- About me -->
    <div class="about-me">
      <!--img-->
      <img :src="content.about_me_img" />

      <!--about-me-text-->
      <article class="about-me-text">
        <h2>{{ content.about_me_title }}</h2>
        <Html :content="content.about_me_content"/>
        <!-- {{ content.about_me_content }} -->
        <button class="projects-btn"><a :href="route('projects')">Mijn Projecten</a></button>
      </article>
    </div>
  </section>

  <section id="featured-projects">
    <FeaturedProjects :list_slug="content.project_list.slug"/>
  </section>
</template>

<script>
import Navbar from "@/Layouts/Navbar";
import FeaturedProjects from "@/components/FeaturedProjects";
import Html from "@/components/common/Html";
import { Head } from '@inertiajs/inertia-vue3';
export default {
  components: {
    Head,
    Navbar,
    FeaturedProjects,
    Html,
  },

  props: [
    'content',
  ],
};
</script>
