<template>
	<BreezeValidationErrors class="mb-4" />
	<h2 class="mb-2 text-3xl">
		Pages Content
	</h2>
	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		
        <div class="mt-4">
			<BreezeLabel for="home_intro_content" value="Home intro" />
			<QuillEditor theme="snow" toolbar="full" v-model:content="form.home_intro_content" contentType="html" @textChange="updateText({type: 'home_intro_content', value: form.home_intro_content})" />
			<!-- <div v-if="form.errors.full_description">{{ form.errors.full_description }}</div> -->
		</div>

        <div class="mt-4">
			<BreezeLabel for="home_intro_img" value="Home big image" />
			<div class="img-container">
				<img :src="form.home_intro_img ?? ''" alt="Background Image" class="h-48 m-auto">
			</div>
			<UploadImages id="image" :max="1" @change="imageChange($event, 'home_intro_img')" />
		</div>

		<div class="mt-4">
			<BreezeLabel for="about_me_title" value="About me title" />
			<BreezeInput id="about_me_title" type="text" class="block w-full mt-1" v-model="form.about_me_title" required/>
			<!-- <div v-if="form.errors.prefix">{{ form.errors.prefix }}</div> -->
		</div>

        <div class="mt-4">
			<BreezeLabel for="about_me_content" value="About me content" />
			<QuillEditor theme="snow" toolbar="full" v-model:content="form.about_me_content" contentType="html" @textChange="updateText({type: 'about_me_content', value: form.about_me_content})" />
			<!-- <div v-if="form.errors.full_description">{{ form.errors.full_description }}</div> -->
		</div>

        <div class="mt-4">
			<BreezeLabel for="about_me_img" value="About me image" />
			<div class="img-container">
				<img :src="form.about_me_img ?? ''" alt="About Image" class="h-48 m-auto">
			</div>
			<UploadImages id="about_me_img" :max="1" @change="imageChange($event, 'about_me_img')" />
		</div>

		<div class="mt-4">
			<BreezeLabel for="featured" value="Featured projects" />
            <Select id="featured" placeholder="Selecteer een projectlist" :selected="form.featured_list_id" :options="projectLists" @checkValue="updateSelection($event)" :required="true" class="mb-2 rounded-md shadow-sm"/>
			<!-- <BreezeInput id="prefix" type="text" class="block w-full mt-1 bg-gray-300" v-model="form.featured_list_id" required disabled="true"/> -->
			<!-- <div v-if="form.errors.prefix">{{ form.errors.prefix }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="portfolio_title" value="Portfolio title" />
			<BreezeInput id="portfolio_title" type="text" class="block w-full mt-1" v-model="form.portfolio_title" required/>
			<!-- <div v-if="form.errors.prefix">{{ form.errors.prefix }}</div> -->
		</div>

        <div class="mt-4">
			<BreezeLabel for="portfolio_intro" value="Portfolio intro" />
			<QuillEditor theme="snow" toolbar="full" v-model:content="form.portfolio_intro" contentType="html" @textChange="updateText({type: 'portfolio_intro', value: form.portfolio_intro})" />
			<!-- <div v-if="form.errors.full_description">{{ form.errors.full_description }}</div> -->
		</div>
					
		<div class="flex items-center justify-between mt-4">
			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Save Content
			</BreezeButton>
		</div>

	</form>
	<div class="img-container" id="img-shower">
		<img v-if="state.image.shown" :src="state.image.src" alt="Big image">
	</div>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeButton from '@/Components/common/Button';
import BreezeCheckbox from '@/Components/common/Checkbox';
import BreezeInput from '@/Components/common/Input';
import BreezeInputCheckbox from '@/Components/common/InputCheckbox';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';
import Select from '@/Components/common/CustomSelect';

import { reactive } from 'vue'
import { useForm } from '@inertiajs/inertia-vue3'

import { QuillEditor } from '@vueup/vue-quill';
import '@vueup/vue-quill/dist/vue-quill.snow.css';

import UploadImages from "vue-upload-drop-images";
import VueTagsInput from '@sipec/vue3-tags-input';

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputCheckbox,
        BreezeLabel,
        BreezeValidationErrors,
		UploadImages,
		VueTagsInput,
        Select,
		QuillEditor	
    },

    props: {
		canResetPassword: Boolean,
		status: String,
        content: Object,
        projectLists: Object,
    },

    setup(props) {

		const { content } = props;
		
		const form = useForm({
            home_intro_content: content.home_intro_content,
            home_intro_img: content.home_intro_img,
            about_me_title: content.about_me_title,
            about_me_content: content.about_me_content,
            about_me_img: content.about_me_img,
            featured_list_id: content.featured_list_id,
            portfolio_title: content.portfolio_title,
            portfolio_intro: content.portfolio_intro,
		});

		const updateText = (input) => {
			form[input.type] = input.value.trim();
		}

		const state = reactive({
            bg: '',
            updated: false,
            image: {shown: false, src: '' },
        });

        const submit = () => {
			form.post(route('content.update'), {
				preserveScroll: true,
			});
        };
		
        const imageChange = (e, imageLocation) => {
			let file = e.target.files[0]
			const img = {
				src: URL.createObjectURL(file),
				file: file,
			}
			form[imageLocation] = img.file;
		}

        const updateSelection = (e) => {
            form.featured_list_id = e;
        }

        return { 
			form,
			updateText,
			submit,
			state,
			imageChange,
            updateSelection,
		}
    }
}
</script>

<style lang="scss" scoped>

	.container {
		&#image, &#multi-image{
  			max-width: 100%; 
		}
	}
	.img-container{
		position: relative;
		filter: drop-shadow(1px 1px 4px black);
		width: max-content;
		margin: 0 auto 20px;
		transform: scale(1);

		button {
			position: absolute;
			right: -20px;
			top: -20px;
			z-index: 999;
		}

		&#img-shower{
			width: 80%;
			height: auto;
			position: fixed;
			top: 10%;
			left: 0;
			transform: translate(calc(50vw - 50%));
			z-index: 99;
			transition: all 1s;
			
			button{
				display: none;
			}
			
			img{
				width: auto;
				height: 90%;
				z-index: 9999;
			}
		}

		&.removing{
			transform: scale(0);
			transition: all .5s;
		}

	}
</style>