<template>
	<BreezeValidationErrors class="mb-4" />

	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		
		<div class="mt-4">
			<BreezeLabel for="name" value="Contact Subject Name" />
			<BreezeInput id="name" type="text" class="block w-full mt-1" v-model="form.name" required autofocus />
			<!-- <div v-if="form.errors.name">{{ form.errors.name }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="slug" value="Slug" />
			<BreezeInput id="slug" type="text" class="block w-full mt-1" v-model="form.slug" required />
			<!-- <div v-if="form.errors.slug">{{ form.errors.slug }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="status" value="Active" />
			<BreezeInputCheckbox id="status" name="status" classes="block w-full mt-1 border-0 status" 
				:checked="form.status === 'active' ? true : false" 
				@input="updateStatus"
				v-model="form.status"
			/>
			<!-- <div v-if="form.errors.message_bottom">{{ form.errors.message_bottom }}</div> -->
		</div>

		<div class="flex items-center justify-between mt-4">
			<BreezeButton class="font-black bg-red-600" @click="deleteSubject">
				Delete Contact Subject
			</BreezeButton>

			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Save Contact Subject
			</BreezeButton>
		</div>

	</form>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeButton from '@/Components/common/Button';
import BreezeCheckbox from '@/Components/common/Checkbox';
import BreezeInput from '@/Components/common/Input';
import BreezeInputCheckbox from '@/Components/common/InputCheckbox';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';

import { Inertia } from '@inertiajs/inertia'
import { useForm } from '@inertiajs/inertia-vue3'

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputCheckbox,
        BreezeLabel,
        BreezeValidationErrors,
    },

    props: {
		canResetPassword: Boolean,
		status: String,
        subject: Object,
    },

    setup(props) {

		const { subject } = props;
		const form = useForm({
			name: subject.name,
			slug: subject.slug,
			status: subject.status,
			id: subject.id,
		});

		const updateStatus = (e) => {
			form.status = (e === true) ? 'active' : 'inactive';
		}

        const submit = () => {
			form.post(route('wb.subject.edit', form));
        };

        const deleteSubject = (e) => {
			e.preventDefault();
			
			let confirm = window.confirm('Are you sure you want to remove this contact subject?');
			if(confirm){
				form.delete(route('wb.subject.delete', subject.id));
			}
        };

        return { 
			form,
			updateStatus,
			submit,
			deleteSubject,
		}
    }
}
</script>