<template>
	<BreezeValidationErrors class="mb-4" />

	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		
		<div class="mt-4">
			<BreezeLabel for="name" value="Project List Name" />
			<BreezeInput id="name" type="text" class="block w-full mt-1" v-model="form.name" required autofocus />
			<!-- <div v-if="form.errors.name">{{ form.errors.name }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="slug" value="Slug" />
			<BreezeInput id="slug" type="text" class="block w-full mt-1" v-model="form.slug" required />
			<!-- <div v-if="form.errors.slug">{{ form.errors.slug }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="title" value="Title" />
			<BreezeInput id="title" type="text" class="block w-full mt-1" v-model="form.title" required />
			<!-- <div v-if="form.errors.title">{{ form.errors.title }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="intro_text" value="Intro Text" />
			<BreezeInput id="intro_text" type="text" class="block w-full mt-1" v-model="form.intro_text" />
			<!-- <div v-if="form.errors.intro_text">{{ form.errors.intro_text }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="projects" value="Projects" />
			<vue-tags-input
				id="projects"
				v-model="projectTag"
				:add-only-from-autocomplete="true"
				:avoid-adding-duplicates="true"
				:tags="form.projects"
				:autocomplete-items="projects.filteredOptions"
				@tags-changed="projects.update"

			/>
		</div>

		<div class="mt-4">
			<BreezeLabel for="status" value="Active" />
			<BreezeInputCheckbox id="status" name="status" classes="block w-full mt-1 border-0 status" 
				:checked="form.status === 'active' ? true : false" 
				@input="updateStatus"
				v-model="form.status"
			/>
			<!-- <div v-if="form.errors.message_bottom">{{ form.errors.message_bottom }}</div> -->
		</div>

		<div class="flex items-center justify-between mt-4">
			<BreezeButton class="font-black bg-red-600" @click="deleteProjectList">
				Delete Project List
			</BreezeButton>

			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Save Project List
			</BreezeButton>
		</div>

	</form>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeButton from '@/Components/common/Button';
import BreezeCheckbox from '@/Components/common/Checkbox';
import BreezeInput from '@/Components/common/Input';
import BreezeInputCheckbox from '@/Components/common/InputCheckbox';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';

import { reactive, onMounted, watch, computed, ref } from 'vue';
import { Inertia } from '@inertiajs/inertia';
import { useForm } from '@inertiajs/inertia-vue3'

import VueTagsInput from '@sipec/vue3-tags-input';

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputCheckbox,
        BreezeLabel,
        BreezeValidationErrors,
		VueTagsInput
    },

    props: {
		canResetPassword: Boolean,
		status: String,
        projectList: Object,
    },

    setup(props) {

		const { projectList } = props;
		const form = useForm({
			name: projectList.name,
			slug: projectList.slug,
			title: projectList.title,
			intro_text: projectList.intro_text,
			status: projectList.status,
			id: projectList.id,
			projects: [],
		});

		const projectTag = ref("");

		watch(projectTag, ([newProject]) => {
			searchTags(projects)
		});	

		const projects = reactive({
			tag: computed(() => projectTag),
			autocomplete: [],
			debounce: null,
			update: (newTags) => {
				projects.autocomplete = [];
				form.projects = newTags;	
			},
			filteredOptions: computed(() => filteredAutocomplete(projects)),	
		});

		const getProjects = () => {
			form.projects = projectList.projects.map((item) => {
				return {'text': item.name, 'id': item.id };
			});
		}

		const searchTags = (arr) => {		
			if (arr.tag && arr.tag.length < 2) return;
			
			clearTimeout(arr.debounce);
			arr.debounce = setTimeout(() => {
				axios.get(route('api.projects.all')).then(response => {
					arr.autocomplete = response.data.map(a => {
						return { text: a.name, id: a.id };
					});
				}).catch(() => console.warn('Oh. Something went wrong'));
			}, 600);
		}

		const filteredAutocomplete = (arr) => {
      		return arr.autocomplete.filter(i => {
				return i.text.toLowerCase().indexOf(arr.tag.value.toLowerCase()) !== -1;
      		});
		}
		
		const updateStatus = (e) => {
			form.status = (e === true) ? 'active' : 'inactive';
		}

        const submit = () => {
			form.post(route('wb.list.edit', form));
        };

        const deleteProjectList = (e) => {
			e.preventDefault();
			
			let confirm = window.confirm('Are you sure you want to remove this project list?');
			if(confirm){
				form.delete(route('wb.list.delete', projectList.id));
			}
        };

		onMounted(() => {
			getProjects();
		});

        return { 
			form,
			projectTag,
			projects,
			updateStatus,
			submit,
			deleteProjectList,
		}
    }
}
</script>