<template>
	<LoadingSpinner v-if="state.isLoading"/>
	<section class="projects" v-if="state.projectList && !state.isLoading">
		<!--text-->
		<div class="projects-text">
			<h2>{{ state.projectList.title }}</h2>
			<p>{{ state.projectList.intro_text }}</p>
		</div>
		<ul class="projects-container">
			<Project v-for="(project, index) in state.projectList.projects" :key="project.id" :index="index" :project="project" :aos="['fade-up', 'top-center']"/>
		</ul>
		<Link v-if="authUser && state.projectList.length" :href="route('wb.list.details', state.projectList.id)" class="edit-list" target="_blank">
			Edit Project List <fa :icon="['fa','edit']" />
		</Link>
	</section>
</template>

<script>
	import { computed, reactive } from 'vue';
	import Project from '@/Components/Project';
	import { usePage, Link } from '@inertiajs/inertia-vue3'
	import LoadingSpinner from '@/components/transition/LoadingSpinner.vue';
	export default {
		components: {
			Project,
			Link,
			LoadingSpinner,
		},

		props: [
			'list_slug'
		],
		
		setup(props) {

			const state = reactive({
				isLoading: false,
				projectList: [],
			});

			const authUser = computed(() => usePage().props.value.auth.user);

			const { list_slug } = props;
			const getFeaturedProjectList = async () => {
				state.isLoading = true;
				await axios.get(route('api.projects.featured', list_slug))
				.then(response => {
					state.projectList = response.data
					state.isLoading = false;
				})
			};
			getFeaturedProjectList() 
			
			return { state, authUser }
		}
	}
</script>

<style lang="scss" scoped>
	.edit-list{
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 10px 20px;
		border-radius: 20px;
		background-color: #ff0;
	}
</style>