<template>
    <section>
        <p>{{ heading }}</p>
        <div>
            <Checkbox v-for="filter in filter.items" :key="filter.id" :filter="filter" :filterName="currentFilter.name" @checkValue="updateCheckbox($event)"/>
        </div>
    </section>
</template>

<script>
import { reactive } from 'vue'
import Checkbox from '@/components/common/CustomCheckbox';

export default {
    
    components: {
        Checkbox,
    },

    props: [
        'heading',
        'filter',
        'filterChecks'
    ],

    emits: ['updateFilter'],

    setup(props, {emit}) {
        
        let checks = [];
        const currentFilter = reactive({
            name: props.filter.name,
            checks: checks,
		});
        

        const updateCheckbox = (e) => {
            updateChecks(e);
            emit('updateFilter', currentFilter);
        }

        const updateChecks = (e) => {
            let itemCheck = e.filter.slug;
            if(checks.includes(itemCheck)){
                removeCheck(itemCheck);
            } else {
                addCheck(itemCheck);
            }
            currentFilter.checks = checks;
        }

        const removeCheck = (check) => {
            checks = checks.filter(e => e !== check)
        };

        const addCheck = (check) => {
            checks.push(check);
        };

        return { currentFilter, updateCheckbox }
    }
}
</script>
