<template>
	<h2 class="mb-2 text-3xl">
		{{ heading }}
	</h2>
	<LoadingSpinner v-if="state.isLoading"/>
	<table v-if="state.contacts.length && !state.isLoading" class="flex flex-row flex-no-wrap w-full my-5 overflow-hidden rounded-lg sm:bg-white sm:shadow-lg">
		<thead>
			<tr v-for="person in state.contacts" :key="person.email" class="flex flex-col mb-2 rounded-l-lg theme-bg flex-no wrap sm:table-row sm:rounded-none sm:mb-0">
				<th class="p-3 text-left">Name</th>
				<th class="p-3 text-left">Email</th>
				<th class="p-3 text-left">Subject</th>
				<th class="p-3 text-left">Message</th>
				<th class="p-3 text-left">Date</th>
				<th class="p-3 text-left" width="110px">Check</th>
			</tr>
		</thead>
		<tbody class="flex-1 sm:flex-none">
			<tr v-for="person in state.contacts" :key="person.email" class="flex flex-col mb-2 flex-no wrap sm:table-row sm:mb-0">
				<td class="p-3 border border-grey-light hover:bg-gray-100">{{ person.full_name }}</td>
				<td class="p-3 truncate border border-grey-light hover:bg-gray-100">{{ person.email }}</td>
				<td class="p-3 truncate border border-grey-light hover:bg-gray-100">{{ person.subject.name }}</td>
				<td class="p-3 truncate border border-grey-light hover:bg-gray-100">{{ person.message.slice(0, 20) }}...</td>
				<td class="p-3 truncate border border-grey-light hover:bg-gray-100">{{ person.created_at }}</td>
				<td @click="goToDetails(person.id)" class="text-red-400 border cursor-pointer border-grey-light hover:bg-gray-100 hover:text-red-600 hover:font-medium">
					<BreezeButton :href="route('wb.contact.details', person.id)">Details</BreezeButton>
				</td>
			</tr>
		</tbody>
	</table>
	<section v-if="!state.contacts.length && !state.isLoading">
		<p>There are no unread contacts.</p>
		<Link :href="route('wb.contact.index')">
			<BreezeButton >
				Go To Contacts
			</BreezeButton>
		</Link>
	</section>
</template>

<script>
  	import { reactive } from 'vue';
	import BreezeButton from '@/Components/common/Button.vue'
	import { Link } from '@inertiajs/inertia-vue3';
	import LoadingSpinner from '@/components/transition/LoadingSpinner.vue';

	export default {
		components: {
			BreezeButton,
			Link,
			LoadingSpinner,
		},
		props: ['limit', 'heading'],
		setup(props) {

			const state = reactive({
				contacts: [],
				isLoading: false,
			});

			const getFeaturedContacts = async () => {
				state.isLoading = true;
				await axios.get(route('api.contacts.latest'), { params: { limit: props.limit } })
				.then(response => {
					state.contacts = response.data
					state.isLoading = false;
				})
			};

			const goToDetails = (id) => {
				window.location = route('wb.contact.details', id);
			} 
	
			getFeaturedContacts();

			return { state, goToDetails }
		}
	}
</script>