<template>
    <article class="modal">
        <section class="modal-content">
            <span class="close-button" @click="closeModal">&times;</span>
            <div>
                <section class="project-images">
                    <span>Afbeeldingen uit project:</span>  
                    <figure v-for="img, index in project.gallery_images" :key="img.id">
                        <img draggable="false" :src="img.path" :alt="`Project Image ${index+1}`">
                    </figure>   
                </section>
                <section>
                    <h2>{{ project.description }}</h2>
                    <h3>Vak: {{ parsedName(project.name) }}</h3>
                    <span v-if="project.message_top !== null" class="top">{{ project.message_top }}</span>
                    <p class="full-description" v-html="project.full_description"></p>
                    <span v-if="project.message_bottom !== null" class="btm">{{ project.message_bottom }}</span>
                    <a v-if="project.link !== null" class="sticky cta" :href="project.link" target="_blank">Link naar project <i class="fas fa-link"></i></a>
                </section>
            </div>
        </section>
    </article>
</template>
<script>

    export default {
        props: ['project'],
        emits: ['close'],

        setup(props, {emit}) {

			const closeModal = (e) => {
                emit('close')
			}

            const parsedName = (name) => {
				let projectName = name.replaceAll("<br>", " ");
				return projectName;
			}

            return { closeModal, parsedName }
        }
    }
</script>