<template>
	<section ref="projectFilters" id="project-filters" :class="{pinned: state.menuPinned}">
		<section @click="closeFilters">
			<div class="flex items-center gap-2">
				<h4>Filters</h4>
				<button @click.prevent.stop="pinFilters" class="flex items-center justify-center w-4 h-4">
					<fa :icon="['fa', pinMenuIcon ]" class="text-black" :class="{'transition-transform transform rotate-12 scale-90': state.menuPinned}"/>
				</button>
			</div>
			<button class="flex items-center justify-center w-4 h-4 p-4">
				<fa :icon="['fa', filterMenuIcon ]" class="text-black"/>
			</button>
		</section>
		<TransitionExpand>
			<div v-show="state.menuClosed === false">
				<FilterOption @updateFilter="updateCheckboxFilter($event)" :filter="state.filters.category" heading="Categorieen"/>
				<FilterOption @updateFilter="updateCheckboxFilter($event)" :filter="state.filters.technology" heading="Technologieen/Programma's"/>
				<FilterOption @updateFilter="updateCheckboxFilter($event)" :filter="state.filters.type" heading="Type Project"/>
			</div>
		</TransitionExpand>
	</section>
</template>

<script>

import { onBeforeMount, reactive, computed } from 'vue'

import FilterOption from '@/components/FilterOption';
import TransitionExpand from '@/components/transition/Expand';
import { isMobile, scrollToBottom, scrollToTop } from '@/Functions';

export default {

	components: {
		FilterOption,
		TransitionExpand 
	},

	emits: ['updateCheckboxFilter'],

	setup(props, {emit}) {

		const state = reactive({
			menuClosed: false,
			menuPinned: true,
			filters: {
				category:{
					name: 'category',
					items: [],
					checks: [],
				},
				technology:{
					name: 'technology',
					items: [],
					checks: [],
				},
				type:{
					name: 'type',
					items: [],
					checks: [],
				},
			},
			windowWidth: window.innerWidth,
		});

		if(isMobile()){
        	state.menuClosed = true;
        	state.menuPinned = false;
		}	
		
		const filterMenuIcon = computed(() => state.menuClosed ? 'chevron-down' : 'chevron-up')

		const pinMenuIcon = computed(() => state.menuPinned ? 'thumbtack' : 'thumbtack')

		const fetchFilters = (e) => {
			const filters = axios.get(route('api.tags.all'));
			filters.then((data) => {
				state.filters.category.items = data.data.categories
				state.filters.technology.items = data.data.technologies
				state.filters.type.items = data.data.types
			})
		}

		const closeFilters = () => {
			state.menuClosed = !state.menuClosed
			if(isMobile() && state.menuClosed){
				scrollToBottom(50);
			} else {
				scrollToTop();
			}

		}

		const pinFilters = () => {
			state.menuPinned = !state.menuPinned
		}

		const updateCheckboxFilter = (filter) => {
			const filterName = `${filter.name}`;
			const filterChecks = filter.checks;

			const filterBase = state.filters[filterName];
			filterBase.checks = filterChecks;

			emit('updateCheckboxFilter', state.filters);
		}

		onBeforeMount(() => {
			fetchFilters()
		})


		return { state, closeFilters, pinFilters, updateCheckboxFilter, filterMenuIcon, pinMenuIcon }
	}
}
</script>