<template>
	<li ref="card" v-bind:style="{ backgroundImage: `url(${getBgImage(project.bg_image)})` }" class="project"
	@mouseleave="toggleProjectDetailsHover"
	@mouseenter="toggleProjectDetailsHover"
	@click.prevent.stop="toggleProjectDetailsClick"
	v-bind="{ 'data-aos': aos[0], 'data-aos-anchor-placement': aos[1] }"
	>
		<section>
			<span>{{ index + 1 }}</span>
			<p class="heading">{{ project.description }}</p>
			<p class="details">{{ parsedName(project.name) }}</p>
			<button @click="toggleModal" class="show-modal">Lees meer</button>
			<Link v-if="authUser" :href="route('wb.project.details', project.id)" class="edit-project" target="_blank">
				Edit Project<fa :icon="['fa','edit']" />
			</Link>
		</section>
		<span>{{ parsedName(project.name) }}  <fa :icon="['fa','info-circle']" /></span>
	</li>

	<Modal ref="modal" :project="project" @close="toggleModal" />
</template>
<script>

import { onMounted, onUnmounted, ref, reactive, computed } from 'vue'
import { usePage, Link } from '@inertiajs/inertia-vue3'
import Modal from './Modal'
import { isMobile } from '@/Functions';

export default {

	components: {
		Modal,
		Link,
	},

	props: ['project', 'aos', 'index'],
	
	setup() {

		const modal = ref(null);
		let currentModal;
		const card = ref(null);
		let currentCard;

		const state = reactive({
			cardOpened: false,
			cardOpen: false,
		})
		
		const defaultBgImage = '/storage/images/projects/default.jpg';
		const authUser = computed(() => usePage().props.value.auth.user);

		const checkWindowClick = (e) => {
			if (e.target === currentModal) {
				toggleModal();
			}

			if(state.cardOpen && isMobile()){
				toggleProjectDetailsClick();
			}
		}

		const parsedName = (name) => {
			let projectName = name.replaceAll("<br>", " ");
			return projectName;
		}

		const toggleProjectDetails = () => {
			state.cardOpened = true;
			if(state.cardOpened){
				card.value.classList.toggle('show');
			}
			state.cardOpen = !state.cardOpen;
		}

		const toggleProjectDetailsClick = () => {
			if(isMobile()){
				toggleProjectDetails()
			}
		}

		const toggleProjectDetailsHover = () => {
			if(!isMobile()){
				toggleProjectDetails()
			}
		}

		const toggleModal = () => {
			currentModal.classList.toggle('show');
			toggleBodyScroll();
		}

		const toggleBodyScroll = () => {
			document.body.classList.toggle('no-scroll');
		}

		const getBgImage = (img) => {
			return (img) ? img.path : defaultBgImage
		}

		onMounted(() => {
			currentModal = modal.value.$el;
			currentCard = card.value.$el;
			window.addEventListener("click", checkWindowClick);
		});

		onUnmounted(() => {
			window.removeEventListener("click", checkWindowClick);
		});

		return { 
			state,
			authUser,
		 	modal,
			card,
		 	toggleProjectDetails,
		 	toggleProjectDetailsClick,
		 	toggleProjectDetailsHover,
		 	toggleModal,
		 	parsedName,
		 	toggleBodyScroll,
		 	getBgImage 
		}
	}
}
</script>

<style lang="scss" scoped>
	.edit-project{
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 10px 20px;
		border-radius: 20px;
		background-color: #ff0;
	}
</style>