<template>
	<li ref="card" v-bind:style="{ backgroundImage: `url(${getBgImage(project.bg_image)})` }" class="project"
	@mouseleave="toggleProjectDetailsHover"
	@mouseenter="toggleProjectDetailsHover"
	@click.prevent.stop="toggleProjectDetailsClick"
	v-bind="{ 'data-aos': aos[0], 'data-aos-anchor-placement': aos[1] }"
	>
		<section>
			<span>{{ project.id }}</span>
			<p class="heading">{{ project.description }}</p>
			<p class="details">{{ parsedName(project.name) }}</p>
			<button @click="toggleModal" class="show-modal">Lees meer</button>
			<Link v-if="authUser" :href="route('wb.project.details', project.id)" class="edit-project" target="_blank">
				Edit <fa :icon="['fa','edit']" />
			</Link>
		</section>
		<span>{{ parsedName(project.name) }}  <fa :icon="['fa','info-circle']" /></span>
	</li>
</template>
<script>

	import { computed } from 'vue'
	import { usePage, Link } from '@inertiajs/inertia-vue3'

	export default {

		components: {
			Link
		},

		props: ['project'],
		
		setup() {


			const defaultBgImage = '/storage/images/projects/default.jpg';
			const authUser = computed(() => usePage().props.value.auth.user)

			const parsedName = (name) => {
				let projectName = name.replaceAll("<br>", " ");
				return projectName;
			}

			const toggleProjectDetails = (e) => {
				e.target.classList.toggle('show');
			}

			const getBgImage = (img) => {
				return (img) ? img.path : defaultBgImage
			}

			return { authUser, parsedName, toggleProjectDetails, getBgImage }
		}
	}
</script>

<style lang="scss" scoped>
	.edit-project{
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 10px 20px;
		border-radius: 20px;
		background-color: #ff0;
	}
</style>