<template>
	<Head v-if="tag" :title="`Edit | ${tag.tag_type.name} - ${tag.name}`" />
	<Head v-else title="Edit | tag is not available" />

	<BreezeAuthenticatedLayout>
		<template #header>
			<h2 v-if="tag" class="text-xl font-semibold leading-tight text-gray-800">
				Edit | {{ tag.tag_type.name }} - {{ tag.name }}
			</h2>
			<h2 v-else class="text-xl font-semibold leading-tight">
				Edit | tag is not available
			</h2>
		</template>

		<div class="pt-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <BreezeLink :href="route('wb.tag.index', tag.tag_type.slug)" class="rounded">
                <BreezeButton>
                    <fa icon="arrow-left" class="mr-2"/> Return to Categories 
                </BreezeButton>
            </BreezeLink>
        </div>

		<div class="py-12">
			<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
					<div class="p-6 bg-white border-b border-gray-200">
						
						<EditForm v-if="tag" :tag="tag" :tag_type="tag.tag_type" />
						<div v-else>
							<p class="font-semibold text-red-500">The ${tag.tag_type.slug} you are looking for is deleted</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</BreezeAuthenticatedLayout>
</template>

<script>
import EditForm from '@/Forms/Backend/Tags/Edit.vue';
import Layout from '@/Layouts/Backend.vue';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import BreezeLink from '@/Components/common/NavLink.vue'
import BreezeButton from '@/Components/common/Button.vue'
import { Head } from '@inertiajs/inertia-vue3';


export default {

    layout: Layout,

    components: {
		BreezeAuthenticatedLayout,
		EditForm,
		Head,
		BreezeLink,
		BreezeButton,
    },

    props: {
        tag: Object,
    },
}
</script>
