<template>
	<Head v-if="subject" :title="`Edit | Contact Subject - ${subject.name}`" />
	<Head v-else title="Edit | Contact Subject is not available" />

	<BreezeAuthenticatedLayout>
		<template #header>
			<h2 v-if="subject" class="text-xl font-semibold leading-tight text-gray-800">
				Edit | Contact Subject - {{ subject.name }}
			</h2>
			<h2 v-else class="text-xl font-semibold leading-tight">
				Edit | Contact Subject is not available
			</h2>
		</template>

		<div class="pt-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <BreezeLink :href="route('wb.subject.index')" class="rounded">
                <BreezeButton>
                    <fa icon="arrow-left" class="mr-2"/> Return to Contact Subjects 
                </BreezeButton>
            </BreezeLink>
        </div>

		<div class="py-12">
			<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
					<div class="p-6 bg-white border-b border-gray-200">
						
						<EditForm v-if="subject" :subject="subject" />
						<div v-else>
							<p class="font-semibold text-red-500">The Contact Subject you are looking for is deleted</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</BreezeAuthenticatedLayout>
</template>

<script>
import EditForm from '@/Forms/Backend/ContactSubjects/Edit.vue';
import Layout from '@/Layouts/Backend.vue';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import BreezeLink from '@/Components/common/NavLink.vue'
import BreezeButton from '@/Components/common/Button.vue'
import { Head } from '@inertiajs/inertia-vue3';

export default {

    layout: Layout,

    components: {
		BreezeAuthenticatedLayout,
		EditForm,
		Head,
		BreezeLink,
		BreezeButton,
    },

    props: {
        subject: Object,
    },
}
</script>
