<template>
	<Head title="Add New Contact Subject" />

	<BreezeAuthenticatedLayout>
		<template #header>
			<h2 class="text-xl font-semibold leading-tight text-gray-800">
				Add New Contact Subject
			</h2>
		</template>
		
		<div class="pt-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
			<BreezeButton @click="back">
				<fa icon="arrow-left" class="mr-2"/> Go Back
			</BreezeButton>
        </div>

		<div class="py-12">
			<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
					<div class="p-6 bg-white border-b border-gray-200">
                    
						<NewForm :newId="newContactSubjectId"/>
					</div>
				</div>
			</div>
		</div>
	</BreezeAuthenticatedLayout>
</template>

<script>
import { Inertia } from '@inertiajs/inertia'
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import BreezeButton from '@/Components/common/Button.vue'
import Layout from '@/Layouts/Backend.vue';
import { Head } from '@inertiajs/inertia-vue3';
import NewForm from '@/Forms/Backend/ContactSubjects/New.vue' 

export default {

    layout: Layout,

    components: {
		BreezeAuthenticatedLayout,
		BreezeButton,
		NewForm,
		Head
    },

    props: {
        newContactSubjectId: Number,
    },

    setup() {
        
		const back = () => {
			let history = window.history;
			if(history.length > 1){
				history.back();
			} else {
				Inertia.visit(route('wb.subject.index'));
			}
		}
		
        return { back }
    }
}
</script>
