<template>
	<BreezeValidationErrors class="mb-4" />

	<div v-if="status" class="mb-4 text-sm font-medium text-green-600">
		{{ status }}
	</div>

	<form enctype="multipart/form-data" @submit.prevent="submit" class="w-full">
		<div class="mt-4">
			<BreezeLabel for="full_name" value="Contact Name" />
			<BreezeInput id="full_name" type="text" class="block w-full mt-1" v-model="form.full_name" required readonly/>
			<!-- <div v-if="form.errors.full_name">{{ form.errors.full_name }}</div> -->
		</div>
		<div class="mt-4">
			<BreezeLabel for="email" value="Email" />
			<BreezeInput id="email" type="text" class="block w-full mt-1" v-model="form.email" required readonly/>
			<!-- <div v-if="form.errors.email">{{ form.errors.email }}</div> -->
		</div>
		<div class="mt-4">
			<BreezeLabel for="subject" value="Subject" />
			<BreezeInput id="subject" type="text" class="block w-full mt-1" v-model="form.subject" required readonly/>
			<!-- <div v-if="form.errors.subject">{{ form.errors.subject }}</div> -->
		</div>
		<div class="mt-4">
			<BreezeLabel for="message" value="Message" />
			<textarea rows="5" id="message" type="text" class="block w-full mt-1" v-model="form.message" required readonly></textarea>
			<!-- <div v-if="form.errors.message">{{ form.errors.message }}</div> -->
		</div>

		<div class="mt-4">
			<BreezeLabel for="status" value="Read" />
			<BreezeInputCheckbox id="status" name="status" classes="block w-full mt-1 border-0 status" 
				:checked="true" 
				@input="updateStatus"
				v-model="form.status"
			/>
			<!-- <div v-if="form.errors.status">{{ form.errors.status }}</div> -->
		</div>

		<div class="flex items-center justify-between mt-4">
			<BreezeButton class="font-black bg-red-600" @click="deleteContact">
				Delete Contact
			</BreezeButton>

			<BreezeButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
				Save Contact
			</BreezeButton>
		</div>

	</form>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeButton from '@/Components/common/Button';
import BreezeCheckbox from '@/Components/common/Checkbox';
import BreezeInput from '@/Components/common/Input';
import BreezeInputCheckbox from '@/Components/common/InputCheckbox';
import BreezeLabel from '@/Components/common/Label';
import BreezeValidationErrors from '@/Components/common/ValidationErrors';

import { reactive, onMounted } from 'vue'
import { Inertia } from '@inertiajs/inertia'
import { useForm } from '@inertiajs/inertia-vue3'

export default {

    components: {
		BreezeAuthenticatedLayout,
        BreezeButton,
        BreezeCheckbox,
        BreezeInput,
        BreezeInputCheckbox,
        BreezeLabel,
        BreezeValidationErrors,
    },

    props: {
		canResetPassword: Boolean,
		status: String,
        contact: Object,
    },

    setup(props) {

		const { contact } = props;
		const form = useForm({
			full_name: contact.full_name,
			email: contact.email,
			message: contact.message,
			subject_id: contact.subject_id,
			subject: contact.subject.name,
			status: contact.status,
			id: contact.id,
		});

		const updateStatus = (e) => {
			form.status = (e === true) ? 'read' : 'unread';
		}

        const submit = () => {
			form.post(route('wb.contact.edit', form));
        };

        const deleteContact = (e) => {
			e.preventDefault();
			
			let confirm = window.confirm('Are you sure you want to remove this contact subject?');
			if(confirm){
				form.delete(route('wb.contact.delete', contact.id));
			}
        };

		onMounted(() => {
			submit();
		});

        return { 
			form,
			updateStatus,
			submit,
			deleteContact,
		}
    }
}
</script>