<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Project Lists
            </h2>
        </template>

		<div class="pt-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <BreezeLink :href="route('dashboard')" class="rounded">
                <BreezeButton>
                    <fa icon="arrow-left" class="mr-2"/> Return to dashboard
                </BreezeButton>
            </BreezeLink>
        </div>

        <div class="py-12">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">

                        <table class="flex flex-row flex-no-wrap w-full my-5 overflow-hidden rounded-lg sm:bg-white sm:shadow-lg">
                            <thead>
                                <tr v-for="list in projectLists.data" :key="list.id" class="flex flex-col mb-2 rounded-l-lg theme-bg flex-no wrap sm:table-row sm:rounded-none sm:mb-0">
                                    <th class="p-3 text-left">Name</th>
                                    <th class="p-3 text-left">Slug</th>
                                    <th class="p-3 text-left" width="110px">Check</th>
                                </tr>
                            </thead>
                            <tbody class="flex-1 sm:flex-none">
                                <tr v-for="list in projectLists.data" :key="list.id" class="flex flex-col mb-2 flex-no wrap sm:table-row sm:mb-0">
                                    <td class="p-3 border border-grey-light hover:bg-gray-100">{{ list.name }}</td>
                                    <td class="p-3 truncate border border-grey-light hover:bg-gray-100">{{ list.slug }}</td>
                                    <td @click="goToDetails(list.id)" class="text-red-400 border cursor-pointer border-grey-light hover:bg-gray-100 hover:text-red-600 hover:font-medium">
                                        <BreezeButton :href="route('wb.list.details', list.id)">Details</BreezeButton>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <Paginator v-if="projectLists.last_page > 1" :paginator="list"></Paginator>

                        <BreezeLink :href="route('wb.list.new')" class="fixed rounded-full right-10 bottom-10">
                            <BreezeButton>
                                <fa icon="plus" />
                            </BreezeButton>
                        </BreezeLink>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import BreezeInput from '@/Components/common/Input.vue'
import BreezeLabel from '@/Components/common/Label.vue'
import BreezeLink from '@/Components/common/NavLink.vue'
import BreezeButton from '@/Components/common/Button.vue'
import Paginator from "@/Components/common/Paginator";

import { Head } from '@inertiajs/inertia-vue3';
import Layout from '@/Layouts/Backend.vue';

export default {
    layout: Layout,

    components: {
        BreezeAuthenticatedLayout,
        Head,
        BreezeInput,
        BreezeLabel,
        BreezeLink,
        BreezeButton,
        Paginator
    },

    props: ['projectLists'],

    setup(props) {
        const goToDetails = (id) => {
            window.location = route('wb.list.details', id);
        } 

        return { goToDetails }
    }
}
</script>
