<template>
	<div>
		<span class="w-20 h-20 border-b-2 border-gray-900 rounded-full animate-spin"></span>
	</div>
</template>

<style lang="scss" scoped>
	div{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px 20px;
		padding: 20px;
	}
</style>