<template>
    <input @change="activateFilter" type="checkbox" :id="state.filter.slug" v-model="state.checked" :value="state.filter.slug">
    <label :for="state.filter.slug"><span>{{ state.filter.name }}</span></label>
</template>

<script>
import { reactive } from 'vue'

export default {

    props: [
        'filter',
        'filterChecks',
        'filterName',
    ],

    emits: ['checkValue'],

    setup(props, {emit}) {
        
        const state = reactive({
            name: props.filterName,
            filter: props.filter,
            checked: Boolean,
		});

        const activateFilter = () => {
            emit('checkValue', state);
        }
        return { state, activateFilter }
    }
}
</script>
