<template>
    <select v-model="state.selection" @change="selectOption" :required="required">
        <option disabled value="0" :selected="isSelected(0)">{{ placeholder }}</option>
        <option v-for="option in options" :key="option.id" :value="option.id" :selected="isSelected(option.id)">
            {{ option.name }}
        </option>
    </select>
</template>

<script>
import { reactive } from 'vue'

export default {

    props: [
        'placeholder',
        'options',
        'selected',
        'required',
    ],

    emits: ['checkValue'],

    setup(props, {emit}) {

        const { selected } = props
        const state = reactive({
            selection: selected ?? 0,
		});

        const isSelected = (id) => {
            return id === state.selection
        }

        const selectOption = () => {
            emit('checkValue', state.selection);
        }
        return { state, isSelected, selectOption }
    }
}
</script>
