<template>
	<section v-html="parsedContent"></section>
</template>

<script>

export default {
	props: ['content'],

	setup(props) {
		const { content } = props;
		const parsedContent = content.replace("&lt;", "<").replace("&gt;", ">").trim()
		
		return { parsedContent }
	}
};
</script>