<template>
    <label class="block" :class="{'text-sm font-medium text-gray-700': !custom}">
        <span v-if="value">{{ value }}</span>
        <span v-else><slot /></span>
    </label>
</template>

<script>
export default {
    props: ['value', 'custom'],
}   
</script>
