<template>
	<Head v-if="project" :title="`Edit | ${parsedName(project.name)} - ${project.description}`" />
	<Head v-else title="Edit | Project is not available" />

	<BreezeAuthenticatedLayout>
		<template #header>
			<h2 v-if="project" class="text-xl font-semibold leading-tight text-gray-800">
				Edit | {{ parsedName(project.name) }} - {{ project.description }}
			</h2>
			<h2 v-else class="text-xl font-semibold leading-tight">
				Edit | Project is not available
			</h2>
		</template>

		<div class="pt-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <BreezeLink :href="route('wb.project.index')" class="rounded">
                <BreezeButton>
                    <fa icon="arrow-left" class="mr-2"/> Return to projects 
                </BreezeButton>
            </BreezeLink>
        </div>

		<div class="py-12">
			<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
					<div class="p-6 bg-white border-b border-gray-200">
						
						<EditForm v-if="project" :project="project" :tagsToLoad="tagsToLoad" />
						<div v-else>
							<p class="font-semibold text-red-500">The project you are looking for is deleted</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</BreezeAuthenticatedLayout>
</template>

<script>
import EditForm from '@/Forms/Backend/Projects/Edit.vue';
import Layout from '@/Layouts/Backend.vue';
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import BreezeLink from '@/Components/common/NavLink.vue'
import BreezeButton from '@/Components/common/Button.vue'
import { Head } from '@inertiajs/inertia-vue3';


export default {

    layout: Layout,

    components: {
		BreezeAuthenticatedLayout,
		EditForm,
		Head,
		BreezeLink,
		BreezeButton,

    },

    props: {
        project: Object,
        tagsToLoad: Object,
    },

	setup() {
		
		const parsedName = (name) => {
            let projectName = name.replaceAll("<br>", " ");
            return projectName;
        }

		return { parsedName }
	}
}
</script>
