<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Projects
            </h2>
        </template>
        
        <div class="pt-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <BreezeLink :href="route('dashboard')" class="rounded">
                <BreezeButton>
                    <fa icon="arrow-left" class="mr-2"/> Return to dashboard
                </BreezeButton>
            </BreezeLink>
        </div>

        <div class="py-12">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">                        
                        <table class="flex flex-row flex-no-wrap w-full my-5 overflow-hidden rounded-lg sm:bg-white sm:shadow-lg">
                            <thead>
                                <tr v-for="project in projects.data" :key="project.id" class="flex flex-col mb-2 rounded-l-lg theme-bg flex-no wrap sm:table-row sm:rounded-none sm:mb-0">
                                    <th class="p-3 text-left">Project Name</th>
                                    <th class="p-3 text-left">Description</th>
                                    <th class="p-3 text-left">Project Link</th>
                                    <th class="p-3 text-left">Details</th>
                                </tr>
                            </thead>
                            <tbody class="flex-1 sm:flex-none">
                                <tr v-for="project in projects.data" :key="project.id" class="flex flex-col mb-2 flex-no wrap sm:table-row sm:mb-0">
                                    <td class="p-3 border border-grey-light">{{ parsedName(project.name) }}</td>
                                    <td class="p-3 truncate border border-grey-light">{{ project.description }}</td>
                                    <td @click="goToLiveProject(project.link)" class="p-3 truncate border cursor-pointer border-grey-light hover:bg-gray-100"><a :href="project.link ?? ''" target="_blank">Live Project</a></td>
                                    <td @click="goToDetails(project.id)" class="text-blue-400 border cursor-pointer border-grey-light hover:bg-gray-100 hover:text-blue-600 hover:font-medium">
                                        <BreezeButton :href="route('wb.project.details', project.id)">Details</BreezeButton>   
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <Paginator v-if="projects.last_page > 1" :paginator="projects"></Paginator>
                        
                        <BreezeLink :href="route('wb.project.new')" class="fixed rounded-full right-10 bottom-10">
                            <BreezeButton>
                                <fa icon="plus" />
                            </BreezeButton>
                        </BreezeLink>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>


<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import BreezeInput from '@/Components/common/Input.vue'
import BreezeLabel from '@/Components/common/Label.vue'
import BreezeButton from '@/Components/common/Button.vue'
import BreezeLink from '@/Components/common/NavLink.vue'
import Paginator from "@/Components/common/Paginator";

import { Head } from '@inertiajs/inertia-vue3';
import Layout from '@/Layouts/Backend.vue';

import Project from '@/Components/Project'

export default {

    components: {
        BreezeAuthenticatedLayout,
        Head,
        BreezeInput,
        BreezeLabel,
        BreezeButton,
        BreezeLink,
        Project,
        Paginator,
    },
    layout: Layout,
    props: ['projects'],
    setup() {
        const parsedName = (name) => {
            let projectName = name.replaceAll("<br>", " ");
            return projectName;
        }

        const goToDetails = (id) => {
            window.location = route('wb.project.details', id);
        } 

        const goToLiveProject = (link) => {
            if(link !== ''){
                window.open(link, '_blank');
            }
            return;
        } 

        return { parsedName, goToDetails, goToLiveProject }
    }
}
</script>