<template>
        <div class="min-h-screen bg-gray-100">
            <nav class="bg-white border-b border-gray-100">
                <!-- Primary Navigation Menu -->
                <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <div class="flex justify-between h-16">
                        <div class="flex">
                            <!-- Logo -->
                            <div class="flex items-center flex-shrink-0">
                                <Link :href="route('dashboard')">
                                    <BreezeApplicationLogo class="block w-auto h-9" />
                                </Link>
                            </div>

                            <!-- Navigation Links -->
                            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                                <BreezeNavLink :href="route('dashboard')" :active="route().current('dashboard')">
                                    Dashboard
                                </BreezeNavLink>
                                <BreezeNavLink :href="route('wb.project.index')" :active="route().current('wb.project.index') || route().current('wb.project.new')">
                                    Projects
                                </BreezeNavLink>
                                <BreezeNavLink :href="route('wb.contact.index')" :active="route().current('wb.contact.index') || route().current('wb.contact.new')">
                                    Contacts
                                </BreezeNavLink>
                                <BreezeNavLink :href="route('wb.list.index')" :active="route().current('wb.list.index') || route().current('wb.list.new')">
                                    Project Lists
                                </BreezeNavLink>
                                <BreezeNavLink :href="route('wb.subject.index')" :active="route().current('wb.subject.index') || route().current('wb.subject.new')">
                                    Contacts Subjects
                                </BreezeNavLink>
                                <BreezeNavLink :href="route('wb.tagtype.index')" :active="route().current('wb.tagtype.index') || route().current('wb.tagtype.new')">
                                    Tag Types
                                </BreezeNavLink>
                            </div>
                            <div class="hidden sm:flex sm:items-center" :class="{'border-b-2 border-indigo-400 focus:outline-none focus:border-indigo-700': route().current('wb.tag.index') || route().current('wb.tag.new')}">
                                <div class="relative ml-3">
                                    <BreezeDropdown align="right" width="48">
                                        <template #trigger>
                                            <span class="inline-flex rounded-md">
                                                <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-500 transition duration-150 ease-in-out bg-white border border-transparent rounded-md hover:text-gray-700 focus:outline-none">
                                                    
                                                    Project Tags
                                                    <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                    </svg>
                                                </button>
                                            </span>
                                        </template>

                                        <template #content>
                                            <BreezeDropdownLink v-for="type in state.tagTypes" :key="'mobile-' + type.id" 
                                                :href="route('wb.tag.index', type.slug)" :active="route().current('wb.tag.index', {tag: type.slug}) || route().current('wb.tag.new', {tag: type.slug})">
                                                {{ type.name }}
                                            </BreezeDropdownLink>
                                        </template>
                                    </BreezeDropdown>
                                </div>
                            </div>
                        </div>

                        <div class="hidden sm:flex sm:items-center sm:ml-6">
                            <!-- Settings Dropdown -->
                            <div class="relative ml-3">
                                <BreezeDropdown align="right" width="48">
                                    <template #trigger>
                                        <span class="inline-flex rounded-md">
                                            <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-500 transition duration-150 ease-in-out bg-white border border-transparent rounded-md hover:text-gray-700 focus:outline-none">
                                                {{ $page.props.auth.user.name }}

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </span>
                                    </template>

                                    <template #content>
                                        <BreezeDropdownLink href="/">
                                            Website
                                        </BreezeDropdownLink>
                                        <BreezeDropdownLink :href="route('logout')" method="post" as="button">
                                            Log Out
                                        </BreezeDropdownLink>
                                    </template>
                                </BreezeDropdown>
                            </div>
                        </div>

                        <!-- Hamburger -->
                        <div class="flex items-center -mr-2 sm:hidden">
                            <button @click="state.showingNavigationDropdown = ! state.showingNavigationDropdown" class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500">
                                <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path :class="{'hidden': state.showingNavigationDropdown, 'inline-flex': ! state.showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                                    <path :class="{'hidden': ! state.showingNavigationDropdown, 'inline-flex': state.showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Responsive Navigation Menu -->
                <div :class="{'block': state.showingNavigationDropdown, 'hidden': ! state.showingNavigationDropdown}" class="sm:hidden">
                    <div class="pt-2 pb-3 space-y-1">
                        <BreezeResponsiveNavLink :href="route('dashboard')" :active="route().current('dashboard')">
                            Dashboard
                        </BreezeResponsiveNavLink>
                        <BreezeResponsiveNavLink :href="route('wb.project.index')" :active="route().current('wb.project.index') || route().current('wb.project.new')">
                            Projects
                        </BreezeResponsiveNavLink>
                        <BreezeResponsiveNavLink :href="route('wb.contact.index')" :active="route().current('wb.contact.index') || route().current('wb.contact.new')">
                            Contacts
                        </BreezeResponsiveNavLink>
                        <BreezeResponsiveNavLink :href="route('wb.list.index')" :active="route().current('wb.list.index') || route().current('wb.list.new')">
                            Project Lists
                        </BreezeResponsiveNavLink>
                    </div>

                    <!-- Responsive Settings Options -->
                    <div class="pt-4 pb-1 border-t border-gray-200">
                        <div class="px-4">
                            <div class="text-base font-medium text-gray-800">{{ $page.props.auth.user.name }}</div>
                            <div class="text-sm font-medium text-gray-500">{{ $page.props.auth.user.email }}</div>
                        </div>

                        <div class="mt-3 space-y-1">
                            <BreezeResponsiveNavLink href="/">
                                Website
                            </BreezeResponsiveNavLink>
                            <BreezeResponsiveNavLink :href="route('logout')" method="post" as="button">
                                Log Out
                            </BreezeResponsiveNavLink>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Page Heading -->
            <header class="bg-white shadow" v-if="$slots.header">
                <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <slot name="header" />
                </div>
            </header>

            <!-- Page Content -->
            <main>
                <slot />
            </main>
        </div>
</template>

<script>
import BreezeApplicationLogo from '@/Components/common/ApplicationLogo'
import BreezeDropdown from '@/Components/common/Dropdown'
import BreezeDropdownLink from '@/Components/common/DropdownLink'
import BreezeNavLink from '@/Components/common/NavLink'
import BreezeResponsiveNavLink from '@/Components/common/ResponsiveNavLink'

import { onBeforeMount, reactive, } from 'vue'
import { Link } from '@inertiajs/inertia-vue3';


export default {
    components: {
        BreezeApplicationLogo,
        BreezeDropdown,
        BreezeDropdownLink,
        BreezeNavLink,
        BreezeResponsiveNavLink,
        Link,
    },

    setup() {

        const state = reactive({
			tagTypes: [],
            showingNavigationDropdown: false
		});

        const fetchTagTypes = () => {
            const tagTypes = axios.get(route('api.tagtypes.all'));
			tagTypes.then((data) => {
				state.tagTypes = data.data
			})
		}
        
        onBeforeMount(() => {
			fetchTagTypes()
		})

        return { state }
    },
}
</script>
