<template>
  <footer id="contact">
    <!--heading-->
    <p>Een berichtje sturen kan altijd!</p>

    <!--paragraph-->
    <p>Voor tips, vragen en/of opdrachten ben ik te bereiken op de onderstaande socials.</p>
    
    <!--social-->
    <section class="socials">
      <a href="https://www.linkedin.com/in/ymaro-blue-b10a15176/" target="_blank">
        <fa :icon="['fab','linkedin']" />
      </a>
      <a href="https://www.instagram.com/ymaro.blue/" target="_blank">
        <fa :icon="['fab','instagram']" />
      </a>
      <a href="mailto:ymaro.blue@hva.nl" target="_blank">
        <fa :icon="['fa','envelope']" />
      </a>
      <a href="tel:+31640808902" target="_blank">
        <fa :icon="['fa','phone']" />
      </a>
    </section>

    <!--copyright-->
    <p class="copyright">Copyright © Ymaro Blue</p>
  </footer>
</template>

<script>
export default {
  
}
</script>
