<template>
  <Navbar />
  <main class="frontend">
    <slot />
  </main>
  <Sidebar />
  <Footer />
</template>

<script>
  import Navbar from '@/Layouts/Navbar';
  import Footer from '@/Layouts/Footer';
  import Sidebar from '@/Layouts/Sidebar';
  export default {
    components: {
      Navbar,
      Footer,
      Sidebar,
    }
  }
</script>