<template>
  <header class="frontend">
    <nav>
      <!-- Logo -->
      <Link href="/" class="logo">
        <Logo />
      </Link>
      
      <!-- Menu list -->
      <ul>
        <li @click="handleToggle">
          <Link :href="route('home')" :class="{'active': route().current('home')}">Home</Link>
        </li>
        <!-- <li>
          <a href="#over-mij">Over mij</a>
        </li> -->
        <li @click="handleToggle">
          <Link :href="route('projects')" :class="{'active': route().current('projects')}">Portfolio</Link>
        </li>
        <li @click="handleToggle">
          <Link :href="route('contact')" :class="{'active': route().current('contact')}">Contact</Link>
        </li>
          
        <BreezeDropdown v-if="$page.props.auth.user" align="right" width="48">
          <template #trigger>
              <span class="inline-flex rounded-md">
                  <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-500 transition duration-150 ease-in-out bg-white border border-transparent rounded-md hover:text-gray-700 focus:outline-none">
                    {{ $page.props.auth.user.name }}

                    <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </button>
              </span>
          </template>

          <template #content>
            <BreezeDropdownLink :href="route('dashboard')">
              Dashboard
            </BreezeDropdownLink>
            <BreezeDropdownLink :href="route('logout')" method="post" as="button">
              Log Out
            </BreezeDropdownLink>
          </template>
        </BreezeDropdown>
      </ul>

      <div class="toggle" @click="handleToggle">
        <fa v-if="toggle.isOpen" icon="times" />
        <fa v-else icon="bars" />
      </div>
    </nav>
  </header>
</template>

<script>
import BreezeNavLink from '@/Components/common/NavLink';
import BreezeDropdown from '@/Components/common/Dropdown';
import BreezeDropdownLink from '@/Components/common/DropdownLink';
import { Link } from '@inertiajs/inertia-vue3';
import Logo from '@/Components/common/ApplicationLogo';
import { reactive, onMounted } from 'vue';
import { isMobile } from '@/Functions';

export default {
	components: {
	BreezeNavLink,
	BreezeDropdown,
	BreezeDropdownLink,
	Link,
	Logo,
	},
	setup(){

	const toggle = reactive({ isOpen: false });
	const mobileWidth = 750;

	let body;
	let nav; 
	
	onMounted(() => {
		selectDOMItems() // works
	})

	const selectDOMItems = () => {
		body = document.querySelector('body');
		nav = document.querySelector('nav');
	}
	
	const handleToggle = () => {
		if(isMobile(mobileWidth)){
		  nav.classList.toggle('active');
		  toggle.isOpen = !toggle.isOpen

			toggleBodyScroll();
		}
	}
	
	const toggleBodyScroll = () => {
		body.classList.toggle('no-scroll');
	}
	
	return { toggle, handleToggle }
	}
}
</script>