<template>
  <aside ref="floatingButton" class="socials-aside">
    <div>
      <a href="https://www.linkedin.com/in/ymaro-blue-b10a15176/" target="_blank">
        <fa :icon="['fab','linkedin']" />
      </a>
      <a href="https://www.instagram.com/ymaro.blue/" target="_blank">
        <fa :icon="['fab','instagram']" />
      </a>
      <a href="mailto:ymaro.blue@hva.nl" target="_blank">
        <fa :icon="['fa','envelope']" />
      </a>
      <a href="tel:+31640808902" target="_blank">
        <fa :icon="['fa','phone']" />
      </a>
    </div>
    
    <button :disabled="state.canClick === false" @click.prevent.stop="openSocials">
      <fa :icon="['fa','inbox']" />
    </button>
  </aside>
</template>

<script>
import { onMounted, reactive, computed, ref } from 'vue'

export default {

  setup(props) {

    const floatingButton = ref(null);
    let thisSocials;

		onMounted(() => {
			thisSocials = floatingButton.value;
		});
    
    const state = reactive({
      socialsOpen: false,
      canClick: true,
      disableTime: 500,
    })

    const toggleCanClick = () => {
      state.canClick = false;
      setTimeout(() => {
        state.canClick = true;
      }, state.disableTime);
    }

    const openSocials = () => {

      thisSocials.classList.toggle('open');
      state.socialsOpen = !state.socialsOpen;

      toggleCanClick();
    }

    return { state, openSocials, floatingButton }
  }
  
}
</script>
