<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg mb-3">
                    <div class="p-6 bg-white border-b border-gray-200">
                        
                        <LatestContacts :limit="6" heading="Latest Contacts"/>
                        <Link :href="route('wb.project.new')" >
                            <BreezeButton class="fixed bottom-10 right-10">
                                Add New Project
                            </BreezeButton>
                        </Link>
                    </div>
                </div>

                <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">

                        <ContentForm :content="content" :projectLists="projectLists"/>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated';
import BreezeInput from '@/Components/common/Input';
import BreezeLabel from '@/Components/common/Label';
import BreezeButton from '@/Components/common/Button';
import LatestContacts from '@/Components/LatestContacts';
import ContentForm from '@/Forms/Backend/ContentForm';

import { Head, Link } from '@inertiajs/inertia-vue3';
import Layout from '@/Layouts/Backend.vue';

export default {
    components: {
        BreezeAuthenticatedLayout,
        Head,
        BreezeInput,
        BreezeLabel,
        BreezeButton,
        Link,
        LatestContacts,
        ContentForm
    },
    layout: Layout,
    props: ['content', 'projectLists'],
    setup() {

    }
}
</script>
